[2021-06-02 09:14] KevinJump commented on #242
Hi,

I think the first issue is coming up when Umbraco is adding a releationship for a deleted item

Umbraco adds a relationship so it knows how to restore an item when its moved to the recycle bin. When an item is deleted uSync will put it in the bin, so that s the point its happening - i would say you can't delete something twice but it does look like that is what is happening, we might be able

[2021-06-02 15:19] KevinJump commented on #241
https://github.com/KevinJump/uSync8/commit/023de78f30bcf30f5b444bdeba33ab786b3cb48a

[2021-06-03 10:49] KevinJump opened #243 "ContentType tabs with apostrophes cause reporting error"
When you have an apostrophe in your tab name, reporting that tab name as a change will cause a reporting error.

e.g
[code]
reason:
The XPath used for selecting the tab to check for changes - should be escaped

[2021-06-03 10:50] #243 closed, assigned to KevinJump

[2021-06-04 07:03] KevinJump opened #244 "MediaPicker3 Support"
Out of the box - uSync doesn't really need anything extra to support the new media picker in Umbraco 8.14 - but when used with uSync.Complete we do need to do some dependency checking. so the mapper needs to exist to allow dependency checking.

[2021-06-04 07:03] #244 closed, assigned to KevinJump

[2021-06-04 08:40] tompipe commented on #241
Hey @KevinJump thanks so much for the update, it's exactly what was needed, I've made a custom build of usync, and added only the content edition nupkg to the solution, and have now been able to conditionally amend the export value using the new ISyncMapperExtended interface :smiley: :beers:

However, when importing, the GetImportValue method isn't being hit. On further analysis, it seems that bec

[2021-06-04 09:57] KevinJump commented on #241
yeah :( - the default mappers don't really  do the import because they are mainly there to make sure the date format in child items is always the right one .

The mappers can be chained, so you could write your own block mapper that impliments GetImportValue down, and add it to the solution without having a custom build. (we've just release the interface stuff in release v8.9.2)

but i will look a

[2021-06-04 11:34] tompipe commented on #241
Hey @KevinJump, thanks for the quick reply. 8.9.2 must have crossed over with me adding the custom build, was hoping it would be released soon, ha ha.

As for your suggestion to chain a mapper, spot on. I've done the following based on the built in mappers, and it's now firing the GetImportValue on my other custom mapper, sending in the correct property value. Thanks so much for your help

[code]

[2021-06-04 13:33] #240 closed, assigned to nobody

[2021-06-04 13:36] KevinJump commented on #242
Hi,

We have released a new version of uSync.Complete today that should help with this issue.
(see https://github.com/Jumoo/uSync.Complete.Issues/releases/tag/8.10.0)

this includes a new SafeMediaName setting, that when set- will rename media files in the temp folder (it gives them a `{guid}.extension` pattern) - the files are renamed back when imported at the other end, so in theory this gets ar

[2021-06-04 13:36] #242 closed, assigned to nobody

[2021-06-04 13:52] KevinJump commented on #237
hoping the changes in v8.9.2 have caught these edge cases

[2021-06-04 13:52] #237 closed, assigned to nobody

[2021-06-04 13:53] #241 closed, assigned to nobody

[2021-06-17 07:32] DavidArmitage opened #245 "TypeLoadException: Could not load type 'Umbraco.Cms.Core.Events.INotification'"
When I install the beta
PM> install-package uSync -version 9.0.0-beta001

My Umbraco 9 solution re-builds fine without errors.
When I run I get the following error.

TypeLoadException: Could not load type 'Umbraco.Cms.Core.Events.INotification' from assembly 'Umbraco.Core, Version=9.0.0.0, Culture=neutral, PublicKeyToken=null'.

I did also notice that when I did a re-build it was complaining a jso

[2021-06-20 14:24] nikcio opened #246 "Possible typo (dashboard.html url) (NetCore)"
**Describe the bug**
I was trying out using Umbraco 9 in a Docker container with [Caddy](https://caddyserver.com/) as the webserver and I was in this environment unable to load the dashboard in the Umbraco back office. (404 Not found error)

It turned out to be because Umbraco was trying to load:

`/App_Plugins/uSync/backoffice/uSync/dashboard.html`

instead of:

`/App_Plugins/usync/backoffice/usy

[2021-06-22 08:55] Antonis-G opened #247 "Umbraco MediaPicker3 import causes NullReferenceException"
I have an Umbraco website (version 8.14.0) with uSync Content Edition v8.9.3 installed. One document type is using a nested content of which its elements consist of an image (the new MediaPicker3) and a textstring.

A null reference exception is caused whenever the nested content of the .config file that's getting imported, has an element that does not contain an image. So for example the uSync co

[2021-06-22 10:03] #247 closed, assigned to KevinJump

[2021-06-22 10:04] KevinJump commented on #247
hopfully fixed - will package it up for the next release.

[2021-07-01 16:01] mistyn8 opened #248 "CamelCase from v8 to KebabCase in v9.. import/export cycle produces duplicates?"
uSync 9.0.0-beta003
**Describe the bug**
Migrating v8 datatype to v9-beta400
copied the v8 config into the v9 usync folder..
Noticed that v8 was CamelCase vs KebabCase in v9

So ended up with `AccentColor.config` vs say `approved-color.config` (from a core datatype)
Import processed fine and I ended up with my Accent Color datatype.

However, clean export later on then produces an `accent-color.co

[2021-07-01 16:33] KevinJump commented on #248
thanks,. will take a look, internally there are ToSafeFileName methods we use from umbraco. they might have changed - hopefully some options will let us revert back to keep the v8 ones.

[2021-07-02 09:41] KevinJump commented on #248
Unfortunatly this is an inconsitancy in uSync 8 :( - some things use SafeAlias, others SafeFileName.

in a perfect world. i would say lets use safe Filename everywhere, but i suspect this will break more things than it fixes.
so we might retro fix this so the safe alias things still use safe alias to generate the name in v9 . we will break people running betas but better than breaking people runni

[2021-07-02 09:57] KevinJump commented on #248
fixed for next release.

[2021-07-02 09:57] #248 closed, assigned to KevinJump

[2021-07-02 10:24] KevinJump commented on #246
thanks, i need to have a full shakedown of case sensitivity, but in this case its the tree alias which umbraco uses to work out the path, so we have lowercased that alias (figuring we will just try to everything lowercase and that should be the best way to us spotting things.

[2021-07-02 10:24] #246 closed, assigned to KevinJump

[2021-07-02 10:25] KevinJump commented on #245
fixing in later builds as namespaces changed in beta umbracos - also the json file thing we have renamed the file as .json's dont get copied around by the pre-build tasks.

[2021-07-02 10:25] #245 closed, assigned to KevinJump

[2021-07-09 11:22] mistyn8 opened #250 "https://blog.jumoo.co.uk/2021/uSync-9-releases/ missing - in the dotnet add package ?"
I think this should be `Dotnet add package uSync --version 9.0.0-rc001`
[code]

[2021-07-09 11:24] KevinJump commented on #250
yeah i think your right

will update

[2021-07-09 12:47] KevinJump commented on #250
Done

[2021-07-09 12:47] #250 closed, assigned to nobody

[2021-07-14 08:38] jvtroyen opened #251 "Dictionary imports in wrong order (should do parent first), cannot fix when using OneWay"
**Describe the bug**
When performing a uSync import of Dictionary items, items are (or appear to be) processed in alfabetical order.

Items that start with a or b (before '**c**onfig') end up in the root of the dictionary, instead of in their proper place in the tree structure.

If you do a second import, it fixes itself, because the parent now already exists.
**HOWEVER**, if you use the OneWay se

[2021-07-15 12:19] jvtroyen commented on #251
Come to think of it, doing a second pass for all the items who couldn't find their parent in the first pass would solve it also, no complex sorting of any kind required.

[2021-07-22 09:48] mistyn8 opened #252 "Setting global json to newtonsoft uSync 9-rc001 backoffice api calls fail."
In order to work around .netCore incorrectly serializing `Dictionary<string, object>` I've had to change the global json implementation over to newtonsoft (in order to use dtge allowedDoctypes)
https://github.com/umbraco/Umbraco-CMS/issues/10644
[code]
However, that seems to cause the issue with deserialisation in the uSync 9-rc001 backoffice API calls.. `GetAddOns` I think is the first flagged.

[2021-07-22 10:04] KevinJump commented on #252
SAD FACE !

I was hoping the days of Newtonsoft's CamelCase/DefaultCase where behind us -

I think we can resolve this with Attributes on the relevant classes, just need to make sure we don't miss any.

[2021-07-22 10:07] mistyn8 commented on #252
Sorry...

[2021-07-22 10:22] KevinJump commented on #252
You can get this in the latest nightly build. (feed https://pkgs.dev.azure.com/jumoo/Public/_packaging/nightly/nuget/v3/index.json)

9.0.0-rc002.20210722.1

I am not sure if we will 'offically' support this however - as i don't know what else it might do - especially to internal Umbraco properties/content. (most of uSync is XML but if the internal properties are json we do read/write them).

[2021-07-22 10:23] #252 closed, assigned to KevinJump

[2021-07-22 10:25] mistyn8 commented on #252
I'm also seeing that if I set...
`"ExportOnSave": true,` in the appsetting.json file.. then it's ignored... and exportOnSave ends up as false?
could that be related?

[2021-07-22 10:29] mistyn8 commented on #252
Infact copying from the docs..
[code]
Only setting that ends up as true is EnableHistory? (according to the backoffice) I noticed as saved a dataype with updated settings and then reimport overwrote it.

[2021-07-22 10:42] mistyn8 opened #253 "Docs settings some defaults missing, and ExportOnSave default should be all?"
https://docs.jumoo.co.uk/uSync/v9/settings/
[code]

Think this should be as below

[code]

https://docs.jumoo.co.uk/uSync/v9/settings/settings/
and then ExportOnSave (can be group name ("settings", "content") or 'all' so everything is done, blank or 'none' == off) rather than true/false in the uSync:Settings list?

Assume "all"  is case insensitive too ;-)
https://github.com/KevinJump/uSync8/blob/

[2021-07-22 10:45] mistyn8 commented on #253
Also noticed that umbraco appsetting.json gets intellisence..
![image](https://user-images.githubusercontent.com/12418214/126627428-6c9713d2-1e0c-46fc-ba45-78a3a6762d9a.png)

is that a feature request for uSync Settings?

[2021-07-22 13:49] mistyn8 commented on #252
@KevinJump  thanks for the quick fix, though it doesn't seem to have worked for me, still having the same issues.

[2021-07-22 15:04] KevinJump commented on #252
Hi,

I would clear all the caches, (browser etc) as it might be caching results.

just to confirm we added this line to test it .

[code]

[2021-07-22 15:13] mistyn8 commented on #252
Will check on the cache.. but am normally running in chrome incognito to avoid extensions hijacking things. :-)

I have this in Startup.cs
[code]

[2021-07-22 16:40] mistyn8 commented on #252
Presumably something cache related as it's working now. Sorry for any inconvenience. Thank you kindly.

[2021-07-22 16:57] mistyn8 commented on #253
One more
https://docs.jumoo.co.uk/uSync/v9/settings/

GuidNames should show default as false?

https://github.com/KevinJump/uSync8/blob/0c765666d6f633f3618310133d503d53e929d0eb/uSync.BackOffice/Configuration/uSyncHandlerSettings.cs#L18

[2021-07-22 16:59] KevinJump commented on #253
Thanks i think we took the docs from an earlier version before we tweaked them - I will do a sanity check of them

the intellisense comes from a schema file inside the umbraco package, but i have been looking to see if there are any ways we can inject a reference to a uSync schema file - its probibly doable via a custom build step 🤷 still looking into it.

[2021-07-23 10:54] mistyn8 commented on #252
@KevinJump  sorry to keep adding to a closed ticket.. but if I delete a docType the process never completes, and uSync doesn't generate its new config file. refreshing the page and Umbraco thinks the doctype is deleted, but uSYnc want to reimport as no change to configs.
I'm guessing this is the unsupported nature of using NewtonSoft :-)

I think I'm going to look into an angular interceptor to on

[2021-07-26 09:48] Matthew-Wise opened #255 "Umbraco 9 - settings see our docs link"
The  link "see our docs" currently opens in the same tab, making this open in a new tab feels like a better experience to me, as I am going to want to remain in the CMS most of the time

**To Reproduce**
Steps to reproduce the behavior:
Go to the uSync dashboard
Settings
click on see our docs
Page opens in the current tab.

**Expected behavior**
Pages opens in a new tab

**Screenshots**
![image](h

[2021-07-26 09:50] Matthew-Wise commented on #253
Could just have uSync sit outside of Umbraco instead? Also the Settings UI still refects that these settings are true / false

[2021-07-26 10:03] KevinJump commented on #253
i don't think so :( - Umbraco essentially has a local version of the schema for the whole applicationsettings.json file.  They've done this because there isn't another way to have partial sachems in .net core. -

we don't want to move uSync config out of the appsettings.json as that is the new settings model and it brings all sorts of advantages such as merging based on environment and environment

[2021-07-26 10:03] KevinJump commented on #255
yep - totally agree

[2021-07-26 15:17] jvtroyen commented on #251
I updated to the latest version (8.9.5) and in doing so discovered the setting "FailOnMissingParent".
It does not seem to apply to dictionary items however. My first 2 items still end up in the root of the Dictionary, even though their parent is missing.

I will dive in the code to see if this is easily remedied.

[2021-07-28 09:13] keithlfs opened #257 "Is there a way to disable menu options based on backoffice config?"
I would like to remove the possibility of content editors / developers from importing content via this menu. I would like to allow only the updating of content types / settings. Is there a way to disable the first and last option?

![image](https://user-images.githubusercontent.com/72756217/127296555-a3e241a5-27f0-4242-82b6-740af6c9cb09.png)

I have set the following options in the backoffice conf

[2021-07-28 09:24] KevinJump commented on #257
Hi there are a couple of other handlers that are also in the 'Content/Media' group.

these are the "content/media" handlers

[code]

if you consider dictionary items (or any of the others not to be Content/Media you can change the group they belong to
in the config.

e.g - make dictionary a "settings" handler
[code]

[2021-07-28 10:15] KevinJump opened #258 "Culture's are marked as published when they are not."
Occurs when running mult-variant setups and a piece of content is unpublished

if the last culture is unpublished - Umbraco does not clear the `publishedCultures` value of the node, instead just setting the global Published flag to false.

as a result `item.IsCulturePublished(culture)` can return true when a culture isn't published.

(uSync.Complete issue : https://github.com/Jumoo/uSync.Complete.

[2021-07-28 10:15] KevinJump commented on #258
the workaround is to also check the global `item.Published` along side `item.IsCulturePublished` - when both are true an culture truely is published.

[2021-07-28 10:19] #258 closed, assigned to nobody

[2021-07-28 10:33] KevinJump commented on #251
The dictionary handler *should* import them in level order - in that it will read all the file,s but it uses the LevelHandlerBase which then sorts them by the 'level' attribute - so again in theory the parent items get imported before the children .

![image](https://user-images.githubusercontent.com/431231/127308213-5a674dc1-2a05-4195-86a5-f3803afe0a91.png)

However there might be caching or timi

[2021-07-28 10:36] jvtroyen commented on #251
That's good to know. I will verify logging on my end to see how it behaves.

[2021-07-28 11:28] jvtroyen commented on #251
I managed to get Verbose logging. It's loading as I suspected.
I verified that the parent (Test) has level 3 and the others have level 4.

I'll look in the code as well, to see where the sorting should be happening.

![image](https://user-images.githubusercontent.com/6861380/127314859-843f6dd9-98c9-4177-9d15-69ccb6f6a746.png)

[2021-07-28 11:31] KevinJump commented on #251
It is worth noting - that logging doesn't always come out in the file in the order in which it is logged 🤯  - to be 100% sure i might add a logging line that actually logs the order in one go.

[2021-07-28 11:34] KevinJump commented on #251
(your logging appears to be missing the importing [level x] line ?

![image](https://user-images.githubusercontent.com/431231/127315580-98470351-0387-493b-9632-f4f69a46c958.png)

_but that might be because with no changes that line doesn't get logged ?_

[2021-07-28 11:36] KevinJump commented on #251
Hi,

noticed there is prob a bug.

if you have FlatStructure = false, then the sorting isn't done by the handler. (because the folers will do it)
however the dictionary handler doesn't save the files in a folder stucture

so i think i need to fix the `GetItemPath` call in the handler to put the structure in place for non flat files. and that might be your issue

[2021-07-28 11:36] jvtroyen commented on #251
I hid Debug lines, just so I could get the Verbose lines on one screen.

Anyway, I think I'm on to something here: when NOT using flat structure, you let the directory-structure be the guide for the levels (in the SyncHandlerLevelBase.ImportFolder).
However, dictionary items are always exported flat instead of hierarchical, so they are imported as a flat list, no calculations.

[2021-07-28 11:37] jvtroyen commented on #251
D'oh! :-)

[2021-07-28 11:43] KevinJump commented on #251
that should fix that. 🤞

[2021-07-28 11:59] jvtroyen commented on #251
If you take my comment into account (reverse line 183), it works perfectly.
Thanks!

[2021-07-28 13:48] KevinJump commented on #238
I am trying to get my head around what i think is a simple solution (just need to write some of it down - to sanity check).

if when we delete an item we set the file's `level` to a high number (e.g 9999) then the sort process which happens during an import will automatically make deletes happen at the end.  I just need to work through the remifactions of this.

1. DataTypes - leaving deletes unti

[2021-07-28 14:35] #236 closed, assigned to KevinJump

[2021-07-28 14:36] KevinJump commented on #233
This issue was largely fixed within smidge, and how it generates the js files.

[2021-07-28 14:36] #233 closed, assigned to nobody

[2021-07-28 17:05] robwatkins88 opened #259 "System.NullReferenceException at uSync8.ContentEdition.Handlers.DictionaryHandler.Import"
**Describe the bug**
Issues when running usync import, a prompt is shown "Object reference not set to an instance of an object."
This happens when the follow value is enabled in the config:

[code]
 when this "OneWay" key is removed the issue does not happen.
This issue did not happen on a previous version of usync.The issue happens on the first pass of running usync

**To Reproduce**
Steps to rep

[2021-07-28 17:54] #259 closed, assigned to nobody

[2021-07-28 17:57] KevinJump commented on #259
i think we fixed half of this in v8.9.6 😞

so the 'createOnly' option will work with the latest version (in place of OneWay)

[code]

but we might just roll out a quick fix for this as v8.9.7

[2021-07-28 18:37] KevinJump commented on #259
released 8.9.7

[2021-07-28 21:18] robwatkins88 commented on #259
Thanks for resolving.

[2021-07-29 15:18] KevinJump opened #260 "uSync.Triggers"
**Feature Proposal** : An unauthenticated (but secured) method for triggering uSync actions (e.g import or export).

**See** : https://github.com/KevinJump/uSync8/tree/v8/dev-api-trigger/uSync.Triggers

**uSync.Triggers** will be a separate package you can install to add a trigger end point to your site, that you can then use from command lines, or CI/CD pipelines to trigger uSync commands.

e.g

[2021-07-29 15:19] KevinJump commented on #260
A Beta for experimentation and feedback is here :

https://www.nuget.org/packages/uSync.Triggers

[2021-07-29 16:25] mattbrailsford commented on #260
Re the Guid on the querying, whilst good to ensure the request was intentional and lines up with the config, it’s not very hidden and would be potentially discoverable.

At minimum I wonder if this should be a POST request so the key isn’t present in the querystring and maybe you could also require https.

Better might be some kind of authentication to prevent someone else attempting to run a comm

[2021-07-29 16:39] KevinJump commented on #260
yep - this is where i need some feedback, I can build timestamped / hashed auth.

 its a question of how easy that would be to put into people's CI/CD pipeline, I suppose i could have a console app that hashes, keys and does the posts, (so its not running curl, etc). then the auth could be more complex while not over complicating command line stuff.

[2021-07-29 18:51] KevinJump commented on #260
Added authentication following the models builder code (but using Authorization vs Action)

so example would be :

curl -u user@email.co.uk:password https://localhost:port/umbraco/usync/trigger/import?key=[key]

will only work if the user has access to the settings section.

however i need to test:
-  i don't think the models builder method increments failed attempts,
-  not sure it would then loc

[2021-07-29 18:55] KevinJump commented on #260
OK - it does lockout after invalid password attempts ✔️

[2021-07-30 06:19] KevinJump commented on #260
Fast and furious - beta002 (should have called this an alpha!)

- now accepts the username/password in the header. (see curl below)
- import/export as post (or get still)
- no longer doing the key, simple uSync.Triggers = true in the web.config to turn it on.
   - as its now secured by user - **_although the key would add an extra level, of you do need to know it and not just be a user with the ri

[2021-07-31 08:57] simonech commented on #260
Personally I'm not a big fan of tying CI/CD operations to users in the Umbraco backend. If an admin forgets the password and resets it, the automation will stop working.
Also this won't work during automated installation where I might want to import all my doctypes but I don't have any admin user yet.
But maybe I understood wrong what you wrote in previous comments.

[2021-08-04 16:59] krotkiske opened #262 "Sync Publisher User Groups Not Working as Expected"
I have publishing permissions set to two user groups in umrbaco...

Editors
Administrators

Having a user with just the editor permission - they cannot sync.
Having a user with just administrator permission - can sync.

Net result: I must make everyone an administrator in order for them to publish. this is not a viable option as we need to restrict administrator access.

Version: uSync.Publisher v

[2021-08-04 17:15] KevinJump commented on #262
Hi,

The Umbraco groups will also need to have uSync Permissions assigned .(only admin gets these by default on an install).

e.g if you go to the editor group in the user section, there should be three permissions in the list of Default permissions for the user.

the relevant ones need to be ticked for the menu items to appear for people in that group.

![image](https://user-images.githubusercont

[2021-08-04 19:42] krotkiske commented on #262
Thanks. Sorry for the confusion, my error.

Kevin Rotkiske
***@***.***

[2021-08-12 10:28] deMD opened #264 "uSync 9 - Clean export not abiding appsettings"
**Describe the bug**
For my Umbraco 9 site I want to add some settings so content and media are not handled by uSync as they don't need to be copied to each environment. However adding the following settings to my appsettings.json and then doing a clean Export, still exports all content and media:
[code]

**To Reproduce**
- Install the latest uSync rc002
- Add above settings to appsettings.json
-

[2021-08-12 10:51] KevinJump commented on #264
Hi,

yeah i need to work on the docs, and this. _I am not sure that Individual Enabled setting in the handler is being read in properly_

One way to disable handlers would be to add them to DisabledHandlers  (if you want them disabled for the set)

[code]

in the overnight versions - the following global settings are there to make it a little easier :

[code]

you can set any of these settings to

[2021-08-12 11:20] deMD commented on #264
Ah yeah great, adding them to disabledHandlers works 👍

Though one think that still doesn't seem to work is that I also have this:
[code]
 But when I check the backoffice I see no checkmarks (but the setting works):

![image](https://user-images.githubusercontent.com/22070292/129188318-5dae2732-e4c1-4f84-8e37-8d1942f05c39.png)
![image](https://user-images.githubusercontent.com/22070292/129188396-c

[2021-08-19 06:53] Marko-Tukic opened #265 "Error when importing templates: The template '.cshtml' file is missing."
**Describe the bug**
When importing templates, i get  The template '.cshtml' file is missing. Happens on Linux docker container on Linux docker host when importing.

**To Reproduce**
Steps to reproduce the behavior:
1. On Windows create template in Umbraco 9 - Master.cshtml
2. Try importing on Linux system

**Expected behavior**
Template should be imported

**About your Site (please complete the f

[2021-08-19 12:05] vsilvar commented on #265
@KevinJump Somewhat related to this issue, when using Compiled views:
[code]

You stop having the ability to import any templates, as the files no longer exist in disk but in a dll.

Might be worth to either completely remove the check or at least have the option to disable it.

[2021-08-19 12:11] KevinJump commented on #255
fixed in rc002.

[2021-08-19 12:11] #255 closed, assigned to nobody

[2021-08-19 12:12] KevinJump commented on #238
Tidy up this is in since v8.9.6

[2021-08-19 12:12] #238 closed, assigned to KevinJump

[2021-08-19 12:13] #227 closed, assigned to nobody

[2021-08-21 11:21] KevinJump commented on #265
yeah (with the missing template) the issue might be that if you tell Umbraco to create a new template (when the entry is missing in the db) and you don't pass it the content of the file - it wipes what ever is one disk :(

that is certainly the v8 behaviour - so i will do some tests and see what happens if we remove the loading from v9 (i would rather we did really - because then we don't have to

[2021-08-22 19:58] ThobiasMichel opened #267 "uSync 9 rc on Docker hosted Umbraco - Js Files not found because of case sensitive paths"
**Describe the bug**
When Umbraco 9 is running on a unix hosted Docker container, some path's are not working. This is related to the case sensitive on unix. On windows its working, but for unix is this another path.

**To Reproduce**
Steps to reproduce the behavior:
1. Open usync dashboard on a unix hosted umbraco
2. See error

Error is 404 on files like /App_Plugins/usync/backoffice/usync/usync.

[2021-08-23 14:17] jesperweber opened #268 "Duplicate value on unique index on first import"
**Describe the bug**
When running the uSync import on a clean Umbraco database it fails the first time with a duplicate value on a unique index in the cmsPropertyTypeGroup table for some of my document types (see screenshot below).
The document types will not be imported and the content using these document types will have data lose for the properties on the document types.

When running the impor

[2021-08-26 14:49] KevinJump opened #270 "Content import fails if the config file contains a language that is not installed locally."
If a content .config file contains a language that hasn't been installed locally on the Umbraco installation then the import of the whole piece of content will fail.

[code]

this is because we attempt to set the content name for the language and when the save of the item is triggered  it trips an exception.

we need to validate that a language exists before we attempt to set a content node name/p

[2021-08-26 15:36] #270 closed, assigned to KevinJump

[2021-08-30 07:22] Marko-Tukic commented on #265
If i name everything conected to template with lowercase - for example master and master.cshtml there is no problem and template is imported.

[2021-09-01 13:34] KevinJump opened #273 "8.10.0 - release checklist."
v8.10.0 - release - checklist - all green = go for release.

# uSync checklist

This is in addtion to any automated testing/etc (although it would be nice to automate this to). checklist of pre-release tests - to make sure things work as we expect them to in the 'real' world.

## Basic setup

### New Site
- [x] Clean install doesn't break anything
- [x] Installed before Umbraco is setup doesn't br

[2021-09-01 15:34] KevinJump commented on #273
Redding Weddy.

[2021-09-01 15:34] #273 closed, assigned to KevinJump

[2021-09-06 13:04] PhyxionNL opened #274 "v9: does not respect Json property naming policy"
**Describe the bug**
In Firefox:
TypeError: result.data.addOnString is undefined
    dashboardController usync.dashboard.controller.js:41
    Angular 30
    safeApply umbraco.services.min.js:1
    loadJs umbraco.services.min.js:1
 Possibly unhandled rejection: {}

In Chromium:
TypeError: Cannot read properties of undefined (reading 'length')
    at usync.dashboard.controller.js?d=1:41
    at angul

[2021-09-06 15:46] KevinJump opened #275 "Importing multi-lingual content item names, may not work when language codes have different case."
depending on how exactly the language codes are returned from within Umbraco they can sometimes have a different casing to them (e.g en-gb vs en-GB). within uSync there are a couple of places where we perform a cultures.Contains() call when we should use cultres.InvariantContains() -

the most notable effect is that this can cause the importing of the name of a piece of content to be missing (and

[2021-09-06 15:47] #275 closed, assigned to KevinJump

[2021-09-08 17:26] KevinJump commented on #274
fixed for next release _(there might be a Umbraco rc003 soon - so we will release with that)._

[2021-09-08 17:26] #274 closed, assigned to nobody

[2021-09-09 14:25] KevinJump commented on #267
I haven't had an opertity to test this completely but for rc3 i did just go through all the js files and places where we refrence the files and try to ensure they all keep the same case.

so the plugin folder is now `App_Plugins/uSync` and then everything should be lower case from there.

[2021-09-09 21:26] ThobiasMichel commented on #267
I will test the next days. Keep you updated.

[2021-09-10 08:50] KevinJump opened #277 "uSync 9 & linux"
**Current working linux build : 9.0.0-rc003.20210910.3** (note this is a build later than 9.0.0-rc003)

---
## Linux builds / Feed
While Umbraco on Linux isn't officially supported at the moment, it does work and lots of people are testing the latest released on Linux.

If you want to run uSync on Linux, we have been working on making this experience ~better~ work.  to that end we have been testin

[2021-09-10 08:50] #277 closed, assigned to KevinJump

[2021-09-10 08:54] KevinJump commented on #267
Hi,

done some docker testing today, and you will need to run a nightly build for things to to work. (see #277 Linux post).

but everything from`version  9.0.0-rc003.20210910.3` on wards should at least have all the paths correct .

_(i noticed using docker that caching was an issue, so had to remove any existing local files from app_plugins before a rebuild the image, and make sure the Umbraco ca

[2021-09-10 13:04] AlexandreLocas opened #278 "Content type property not imported when having custom validation with value ^.{0,150}$"
Hi, content type property is not imported when having custom validation with value ^.{0,150}$

1. Add a new property (textbox) using a custom validation using regex : ^.{0,150}$
2. Sync with another environnement
3. Property is ignored and not added to content type

uSync v8.4.0.0 + Content Edition
Umbraco version 8.13.1

Thank you

[2021-09-10 13:07] KevinJump commented on #278
Hi,

This is fixed in uSync 8.6.5+ or above (see #145) and there should be no reason why you can't upgrade all the way to uSync/ContentEdition v8.10.1 (works with all Umbraco v8 versions)

[2021-09-10 13:07] #278 closed, assigned to nobody

[2021-09-23 09:57] marcloveUSN opened #282 "Import Sort Order"
When running imports that include ContentType changes I have noticed that the sort order on properties is not always correct. Running the import a second time seems to solve the issue.

[2021-09-28 11:52] dalemccutcheon opened #283 "After full import get an error upon trying to update one of the document types"
Hey,

A full import of usync brought through all my doc types/datatypes etc without any major issues however once i try and update an imported document type i get this error

![image](https://user-images.githubusercontent.com/40206347/135081501-23b90bf4-2987-4379-a99f-a585cdcb8f20.png)

Umbraco version 9.0.0.0
uSync version 9.0.1

I have tried the same edit with a non-imported document type and i

[2021-09-28 16:34] KevinJump commented on #283
Hi,

haven't seen this on 9 - if you can - can you email me (kevin@jumoo.co.uk) your uSync folder ?

it does seem simiar to an issue on v8 - i have seen which is usally caused by duplicate doctypes in the uSync folders _(so the doctype has been changed, so there is a new file, but for some reason the old file wasn't also checked in to source control, / blanked when the change was made)_

Maybe a c

[2021-10-01 09:58] KevinJump opened #284 "404 Not found - /App_Plugins/usync/settings/expansion.html"
uSync 9 - running on linux

``
Request error: The URL returned a 404 (not found):
/App_Plugins/usync/settings/expansion.html
``

this isn't critical (its the add on pane) - but properly annoying! .

[2021-10-01 10:01] #284 closed, assigned to KevinJump

[2021-10-01 11:10] KevinJump opened #285 "9.0 Linux Testing"
It would be good if people with different linux installations could test uSync and report errors.
at the moment we have fixed an issue some file names with the 9.0 release.

but if people could test , report and possibly fix any Linux issues that would be amazing .

## Fixed
- #284

[2021-10-04 11:36] KevinJump opened #287 "Root package installs on .netframework."
While uSync has all the dependencies in place to stop it working pre Umbraco 9.0 - the initial release package of uSync will still install on a v8 site.

this is because our root package is merely a package containing references to other packages, it doesn't contain any library files of its own. without library files, Visual studio will install the root package because it doesn't see that it can't

[2021-10-04 11:36] #287 closed, assigned to KevinJump

[2021-10-04 11:38] KevinJump opened #288 "v9. package missing icon, and readme location needs updating"
the v9 root nuget package, doesn't have a package icon, and the readme.md and readme.txt files need updating so they are nicer/make more sense of the install via visual studio and on nuget.

[2021-10-04 11:38] #288 closed, assigned to nobody

[2021-10-05 21:49] KevinJump opened #289 "Add ability to exclude properties in content/media via config."
Currently you can use code to not serialize an property by name. - but it would be good to do this via config.

e.g

[code]

The `DoNotSerialize` property will need to be a comma seperated list of property aliases you don't want to include.

[2021-10-05 21:51] KevinJump commented on #289
will put in 9.1 release.

[2021-10-05 21:51] #289 closed, assigned to KevinJump

[2021-10-06 14:37] KevinJump opened #290 "Add support for Contentment Content blocks"
Add support for [Contentment](https://github.com/leekelleher/umbraco-contentment) Content blocks

For genral syncing these blocks will work without uSync speicific handlers but the handlers add two things:

- support for the data format on any nested properties changing between servers
- dependency calculation on the nested properties so media, etc gets included when uSync.Publisher pushes / pulls

[2021-10-06 14:37] KevinJump commented on #290
Done in ea46f26e9540ca2683bfdacbeadc22c3115c023d

[2021-10-06 14:37] #290 closed, assigned to KevinJump

[2021-10-07 09:45] leekelleher commented on #290
No way! 😻 Thank you!

This has been on my to-do (ideas) list for a while!
https://github.com/leekelleher/umbraco-contentment/blob/2.2.0/.github/IDEAS.md?plain=1#L58-L59

[2021-10-07 12:43] KevinJump opened #291 "{"ExceptionMessage":"The given key {plugin} was not present in the dictionary for extension packages"
uSync : v9.0.x

Error: when you add an extension (e.g vendr, or forms) the dashboard can be blank, and the console error will look like :

[code]

this is because we look for an icon for the export group from a dictionary, and there was no fallback for when the group didn't exist.

fixed in : https://github.com/KevinJump/uSync/commit/614d34b9d36ae993f47494d77949a1abfe61176c

[2021-10-07 12:43] KevinJump commented on #291
also refrencing https://github.com/vendrhub/vendr-usync/issues/11

[2021-10-07 12:43] #291 closed, assigned to KevinJump

[2021-10-08 12:25] mistyn8 opened #292 "usync/v9/Content/DT.configs being created although "DisabledHandlers": ["contentHandler"...]"
umb 9.0.0, usync 9.0.0.1

full appsettings.json
[code]

[2021-10-08 13:02] KevinJump commented on #292
Hi,

yeah we need to update the docs, subtle diffrence between rc and release, the handlers all hanve Capitalized names now (sorry)

as does default set -

[code]
also for release,

setting ExportOnSave to "Settings" will have the same effect as you want here.
(it will only run the Settings handlers)
e.g
[code]

and if you want to move dictionary handler to a settings not a content. (because lot o

[2021-10-08 15:57] mistyn8 commented on #292
UpperCased them.. but still getting content configs? :-(
[code]

[2021-10-08 15:59] mistyn8 commented on #292
ah.. `"DefaultSet": "default",`

[2021-10-08 16:04] KevinJump commented on #292
Also not sure the JSON file also doesn't support comments ? (e.g // )

[2021-10-08 16:05] mistyn8 commented on #292
That worked.. `"DefaultSet":"Default"`
ps..
![image](https://user-images.githubusercontent.com/12418214/136588343-a96afa38-d9f8-4c2e-8236-742c57b55f17.png)
shows 9.0.0 ? rather than 9.0.0.1, and not sure if the disabled handlers should be listed.
Should import at startup be showing a "true"?

Also did I see you had a hack to change the `"$schema": "./umbraco/config/appsettings-schema.json",` temp

[2021-10-08 16:17] KevinJump commented on #292
yeah - will take a look - import at startup should show a group (or none) . (its the same as Export on Save.

if you've upgraded you might need to clean out the dependency cache stuff (now smidge) - but its equally possible I've missed something.

we have been looking at hacking in our schema to the umbraco one (in umbraco/conifg/appsettings.schema.json) - but we need to do a little more work on t

[2021-10-11 10:12] KevinJump opened #294 "uSync v9 - Doesn't trigger when content or media is sent to the recycle bin"
When you delete a content or media item - the item is moved into the recycle bin,

In uSync v9 - this event is not captured (because we in Umbraco 9 this no longer fires a moved event). so the config file for the item isn't updated, meaning when you sync the content items in the recycle bin will not be synced and will remain in the content tree.

[2021-10-11 10:13] #294 closed, assigned to nobody

[2021-10-13 11:04] bachratyg opened #295 "Import creates extra property groups not present in the definition"
**Describe the bug**
Using Umbraco 8.17.0 and uSync 8.10.3 the content type import is broken. Import creates extra property groups if the property name is significantly different from the alias

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new content type
2. Add several properties, edit the alias manually to be very different from the name (e.g. german name and english alias)
3.

[2021-10-13 11:35] bachratyg commented on #295
This may also be related:
https://github.com/KevinJump/uSync/blob/7265e452c908ef16742b9d0e20dd7dd9fb7dff4d/uSync8.Core/Extensions/PropertyGroupExtensions.cs#L117
`AddPropertyType(PropertyType, string, string)` is declared on the base interface (`IContentTypeBase`) thus `addPropertyTypeMethod` will always be null and only the fallback code runs.

[2021-10-13 11:36] KevinJump commented on #295
yeah 😞  - i expect i got confused, the internal Umbraco api has changed to support tabs and use to take name and now takes alias, so looks like i missed it in a few places.

[2021-10-13 11:42] KevinJump commented on #295
yeah some of those methods are the pre v8.17 methods so the extension call, is finding the v8.17 version via reflection and calling that. if the version is pre 8.17 then the old legacy method is called.

i think the cleans are wrong, i need to check the others _(pain to test as the core project is running 8.1 and the methods don't actually exist)._

[2021-10-13 16:45] KevinJump commented on #295
i think this does it - I've renamed a few things because what is the name and what is the alias faling back to the name gets confusing.

I think changing the signatures worked 👍 .

we have a nightly build for testing : https://dev.azure.com/jumoo/Public/_packaging?_a=package&feed=nightly&package=uSync&protocolType=NuGet&version=8.10.4-preview.20211013.3&view=overview

Just to confirm when you say

[2021-10-13 16:47] #295 closed, assigned to KevinJump

[2021-10-13 20:14] bachratyg commented on #295
Our usual workflow is having a dev db (per dev), everyone configures required data types/content types/etc in the backoffice, automatically written to disk by uSync, then committed with the rest of the code. No direct uSync file editing, except for some very special cases e.g. merge conflicts. The properties and descriptions are in the customer's language, but the aliases are always english.

We o

[2021-10-13 22:18] kristoflagae opened #297 "Importing in Umbraco v8 doesn't work"
When I do a uSync import (no content) in Umbraco (8.16), all my document types are getting generated with the necessary groups, but I don't see any properties. Although the import reports the changes, none of them seems to be created.

The data types are created correctly.
I use the full version of modelsbuilder (no use of PureLive).
What could possibly be wrong?

Also trying it with a default Umb

[2021-10-14 09:35] KevinJump commented on #297
Hi, can you confirm the usync version ?

[2021-10-14 10:19] KevinJump commented on #297
Hi, no worries i think its something we introduced when adding support for tabs in 8.17.

fixed in 8.10.4 release. https://github.com/KevinJump/uSync/releases/tag/v8.10.4

[2021-10-14 10:19] #297 closed, assigned to nobody

[2021-10-14 10:32] KevinJump commented on #295
Hi, we've pushed this as a new release (v8.10.4) because it turns out we broke this on a bigger scale #297 .

I've checked the process and it seems to work now on both v8.16 and v8.17 i think it was actually a rouge swapping of the property name and the tab name in one of our add methods 🤦

[2021-10-14 16:35] bachratyg commented on #295
Clean install seems to work now, the defs are mostly unchanged, there are some new nodes
* ContentType/MediaType/MemberType
  * new `Alias="..."` attribute on GenericProperties/GenericProperty/Tab
  * new `<Alias>...</Alias>` and `<Type>Group</Type>` element under Tabs/Tab
* DataType
  * `"OverlaySize": null` under config

However if upgrading an existing site all property groups and contained pro

[2021-10-14 17:51] kristoflagae commented on #297
Hi, thx for the quick reply!

I used uSync version 8.10.3 with Umbraco 8.16
Using the newly uSync 8.10.4 indeed fixed the problem.

[2021-10-14 18:07] KevinJump commented on #295
The more i get into this, the more i realize it tabs update in Umbraco was a dogs dinner :(, we have methods that use to take name that now take alias. we can't just safe alias the name at the start, because we have to be able to find the tab by name incase its not been created by alias. 😞

anyway - think its fix, - we will add this to the next release, (not going to push a release just for this,

[2021-10-14 20:50] matthewcare opened #299 "Style issue on dashboard"
Hi Kevin,

Not a massive issue, more a nice to have. I can open a PR if you want, but it seems like a lot of effort for a one liner

Could you update
https://github.com/KevinJump/uSync/blob/v9/main/uSync.Site/App_Plugins/uSync/usync.css#L418
to
`grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));`

On smaller screens it will mean this
![image](https://user-images.githubusercontent.com/146

[2021-10-14 20:56] KevinJump commented on #299
Problem is it does this, on complete (or when you have forms or vendr).

![image](https://user-images.githubusercontent.com/431231/137394159-d3c283a3-f257-4cce-89c0-67c49ca938ce.png)

not the end of the world, i think i need to fiddle with the min value a bit, to make it nicer.

[2021-10-14 20:58] matthewcare commented on #299
Really? I get this with more items

![image](https://user-images.githubusercontent.com/1469061/137394497-e6811925-1e0c-4efd-9f6b-890a947c0112.png)

[2021-10-14 20:59] KevinJump commented on #299
depends on how wide you go. to be honest, i think min just need to go to 400px then it doesn't look to squished

[2021-10-14 21:03] matthewcare commented on #299
If you could have it line up with the report block, that would be great. I noticed it doesn't line up, and now I can't not see it!

[2021-10-15 09:02] bachratyg commented on #295
No change with the nightly unfortunately. Still investigating what goes wrong...

Umm... is bca0874 already included in the nightly (8.10.4-preview.20211014.1) or should I wait for the next build? DevOps does not show the time zone of the publish date

[2021-10-18 15:21] bachratyg commented on #295
There's still a name-alias mismatch in `CleanTabs` here:
https://github.com/KevinJump/uSync/blob/d6fc5602aea0be735a9afaa1fff392bb77981295/uSync8.Core/Serialization/Serializers/ContentTypeBaseSerializer.cs#L665
`newTabAliasOrNames` would contain the display names of tabs if the alias is not present in the def. However when building the `removals` it's compared to the alias of the tabs which was alr

[2021-10-20 06:07] a-t-k opened #301 "UseGuidFilenames for Version 9"
Es wäre sehr praktisch, wenn dieses Feature UseGUIDFilenames auch in der Version 9 verfügbar wäre.

Einige der Nodes in Umbraco haben bei uns sehr lange Namen und dies kollidiert mit der maximalen Länge des Pfades in Windows-OS.

[2021-10-20 06:16] a-t-k commented on #301
Ahh. I see it is implemented under HandlerDefaults. But i do not found it in Documentaion

[2021-10-20 06:16] #301 closed, assigned to nobody

[2021-10-21 04:00] shearer3000 opened #302 "disable content tracking in usync 9"
hello - more a quick question than a bug report, but in usync 9.0.2 how do you disable content tracking changes?
I looked on https://docs.jumoo.co.uk/uSync/v9/settings/settings/ but can't see a relevant setting.
thanks for the help,
Andrew

[2021-10-21 08:29] KevinJump commented on #302
Hi

yeah we are in the middle (very close to done) of updating the docs.

new docs on how to do it here.

http://usync.docs.jumoo.co.uk/docs/uSync/guides/content

[2021-10-25 14:48] KevinJump opened #304 "Config extension so settings don't have to be in appSettings.json"
An optional extension to IHostBuilder so you can move the uSync config somewhere else.

This mainly saves you a few lines of code, but you can now add this command to the CreateHostBuilder pipeline in program.cs and move the uSync config.

[code]

will move the "uSync" config into usync.json by default .

this method will also add `file.environment.json` and `file.machinename.json` verations on th

[2021-10-25 14:48] #304 closed, assigned to KevinJump

[2021-10-25 14:51] KevinJump opened #305 "Show only settings changes in the appsettings.json dialog"
Settings are now stored in appsettings.json and we have a dialog to show you what you can set.
but in current version this shows every settings.

this update make it so uSync will only show settings that are not default settings, making it less of a confusing dialog, and in theory something that will better represent your settings.

[2021-10-25 14:51] #305 closed, assigned to KevinJump

[2021-10-25 14:55] KevinJump opened #306 "Add Handler reference to the notification messages."
Adds a handler reference to the notification events in uSync v9 - so we can track the changes better.
also added to handler factory so you can get the handler from the Item Type - this to will make it easier to do things when responding to internal notification events.

[2021-10-25 14:55] #306 closed, assigned to KevinJump

[2021-10-25 14:57] KevinJump opened #307 "FIX: Nested Contentment blocks don't publish properly"
When you have contentment content blocks nested within other blocks (or nested content in contentment blocks?) then the information is exported and imported and everything works in the back office, but the publish that uSync performs doesn't work,

this is because the internal nested json is serialized as a Json object by uSync when Umbraco's published code is expecting it to have been escaped.

0

[2021-10-25 14:57] #307 closed, assigned to KevinJump

[2021-10-25 15:39] KevinJump opened #308 "Template file names are do not match case"
The way template file names are calculated does not match the case of the file,
meaning on a case dependendant install the files can't be found

this fixes that by using `Alias` direct and not `alias.ToSafeFileName()` which lower cases the file (which isn't what umbraco does)

[2021-10-25 15:39] #308 closed, assigned to KevinJump

[2021-10-25 15:57] KevinJump opened #309 "Ability to force use of FIPS algorithims."
uSync 8 and uSync 9 use FIPS compliant algorithims when they are on machines that have been configured to enforce the FIPS policy.

Mostly the algorighims are used to compare a hash of the changes on disk with those of a file created from the site and which algorithim is used does not affect the import or export of the sync files.

However there are some circumstances when the hash of files is tra

[2021-10-25 15:57] #309 closed, assigned to KevinJump

[2021-10-27 10:09] KevinJump commented on #292
Turning off Content Edition : http://usync.docs.jumoo.co.uk/docs/uSync/guides/content
Handler Names : http://usync.docs.jumoo.co.uk/docs/reference/handlernames

[2021-10-27 10:09] #292 closed, assigned to nobody

[2021-10-27 10:09] KevinJump commented on #264
Turning off Content Edition : http://usync.docs.jumoo.co.uk/docs/uSync/guides/content
(and fixed check as settings dialog has changed for release)

[2021-10-27 10:09] #264 closed, assigned to KevinJump

[2021-10-28 08:09] #302 closed, assigned to nobody

[2021-10-28 08:12] #299 closed, assigned to nobody

[2021-10-29 14:22] bielu opened #311 "Question: configuration"
Hi @KevinJump,
I have pretty stupid question, but there we go.
In usync for v8 I could do something like that:
`      <Handler Alias="contentHandler" Enabled="true">
          <Add Key="Include" Value="/Tagging" />
          <Add Key="Exclude" Value="/Tagging/ContentType/,/Tagging/Expertise/,/Tagging/LocationsJurisdictions/,/Tagging/Position/,/Tagging/Department/,/Tagging/Categories/,/Tagging/Tags

[2021-10-29 14:25] KevinJump commented on #311
In theory (and i have to admit i haven't tested this extensively on v9.

http://usync.docs.jumoo.co.uk/docs/reference/handlers#example

[code]

handler settings for v9 are here http://usync.docs.jumoo.co.uk/docs/reference/handlers#handler-specific-settings

[2021-10-29 14:26] bielu commented on #311
thanks, will give a try

[2021-10-29 14:54] bielu commented on #311
@KevinJump I can confirm it does work, but I have other question is there way to not include childrens?
As example i want import listing page, but not new pages under.

said too early, If I added multiple values it doesnt work 😢

[2021-10-29 15:04] KevinJump commented on #311
Not in config, 😞

but you can write a notification handler to handle the `uSyncImportingItemNotification`, and then you can use the information passed to that method to halt the import (its called at the same point as the checks on the above)

e.g this **might** work. (haven't ran this code)
[code]

***n.b** you need to register this handler in a a composer see umbraco docs https://our.umbraco.com

[2021-11-02 11:20] #170 closed, assigned to nobody

[2021-11-02 11:20] #181 closed, assigned to nobody

[2021-11-10 11:25] KevinJump opened #312 "Updates where compositions change from groups to tabs. can cause issues for sync."
If you have an update where there are changes in the property groups from groups to tabs (or the other way around) and properties exist on both the compositions and the document types using the compositions this can cause an update failure when syncing the changes.

this is because uSync will attempt to change the type of the property group on the composition (or the doctype) and Umbraco will fail

[2021-11-10 11:25] #312 closed, assigned to nobody

[2021-11-10 12:49] KevinJump opened #313 "using files generated with Umbraco 8.17+ on an Umbraco 8.16 or lower site can cause tabs to go missing"
If you generate a set of uSync files on a Umbraco 8.17+ site, that will include information about tabs and tab aliases (new in Umbraco 8.17).

if you then attempt to sync a site that is running without tabs (v8.16 or lower) with these files then depending on the tabname/alias the groups and properties might get removed from the content types.

this is because when we have a tab alias in the file,

[2021-11-10 12:49] #313 closed, assigned to nobody

[2021-11-11 11:10] #311 closed, assigned to nobody

[2021-11-17 11:42] KevinJump commented on #283
I think this is the same as tabs issue we have seen in #313

it doesn't have to be that you have changed from tabs to groups, some of the alias/name changes inside the umbraco versions can do this, so we have changed code to better cope.

We have done quite a bit of work around tab/group name clashing, so hopefully the next release 9.0.3 fixes this issue. (ETA 18th Nov 2021)

[2021-11-17 11:42] #283 closed, assigned to KevinJump

[2021-11-17 11:43] #262 closed, assigned to nobody

[2021-11-17 11:44] #251 closed, assigned to KevinJump

[2021-11-19 13:02] #265 closed, assigned to nobody

[2021-11-19 13:02] #267 closed, assigned to nobody

[2021-11-19 16:38] marklonquist opened #315 "License in database"
**Is your feature request related to a problem? Please describe.**
We just migrated to Umbraco 9 and we're running our setup in GCP in Kubernetes.
We don't want to store our license file in our repositories for security reasons.

**Describe the solution you'd like**
Store license information in the db like so many other things is now.

**Describe alternatives you've considered**
Create a license.j

[2021-11-19 16:45] KevinJump commented on #315
Hi,

yes we can look into having the licence fallback from somewhere else. at the moment we are following the same practice as the core umbraco team who store the forms licences is the same folder - so we sort of jumped into the same location.

sadly the one thing its quite hard to do with Umbraco in its current form is add additional configuration sources without changing the program.cs (and as p

[2021-11-19 16:53] KevinJump commented on #315
OK, For the next release. we will attempt to get the key and domains from the config first:

[code]

this will then let you store these config values in any configured config source and not within the repo.

- does this sound right ?

[2021-11-19 16:57] marklonquist commented on #315
Sounds perfect!

[2021-11-19 17:19] KevinJump commented on #315
closing here - tracking on uSync.Complete repo.

The next full patch release is sometime off (likely after Christmas) we will release a nightly next week with this feature in it - if you want to test it.

[2021-11-19 17:19] #315 closed, assigned to KevinJump

[2021-11-20 21:09] marklonquist opened #316 "baseUrl in uSync 9"
Hi

How do I go about setting the "baseUrl" in uSync9? I found this post on umbraco forums;
https://our.umbraco.com/packages/developer-tools/usync/usynccomplete/101025-issue-publishing-when-using-https

but doesn't seem to be present in any option files in the uSync namespaces.

Also, we are hosting in GCP with a SSL terminating LB in front of our umbraco instance. So I wonder how I even figure ou

[2021-11-20 21:35] KevinJump commented on #316
Hi,

Yeah we haven't surfaced the setting in the UI (we probably should).  but it is still there

settings are now stored in the DB in the `[uSyncPublisherServerConfig]` table, and that has a baseUrl column for each server.
if you set the base URL in the table then it will be used (you might have to restart the site once you have set the value in the DB)

[2021-11-20 22:07] marklonquist commented on #316
Ah okay. Must admit I didn’t check the table for it because it seemed to be in the app settings according to the docs; http://usync.jumoo.co.uk/docs/complete/publisher/config

at the very bottom. 😜 though it isn’t showed in the json example. 🤔

Thanks for the info! Will have to try it tomorrow.

[2021-11-21 18:51] marklonquist commented on #316
Alright so I've been doing some testing.

This is the server i'm trying to reach from local:
<img width="822" alt="Screenshot 2021-11-21 at 19 47 30" src="https://user-images.githubusercontent.com/1456819/142775074-a4299626-b147-4464-b51c-6b3c1914d1f5.png">

As you can see, it has one URL in the address field, and another on the page. This is the one behind an SSL terminating LB.

Then, in my loca

[2021-11-21 18:52] marklonquist commented on #316
Blanked out some parts for security reasons.

[2021-11-21 20:49] marklonquist commented on #316
Seems there might be a bug in your HMACHandler.cs file. It tries to get the "syncPublishServer" obj from DB, but when trying to fetch it from the database, the URL is specified as;
`https://bt-olympus-content-svc.XXXXXXXXX.com/umbraco/uSyncReceive/uSyncReceiveApi/Enabled`

this means it fails to get the correct data from the db, as the URL in there is just;
`https://bt-olympus-content-svc.XXXXXXXX

[2021-11-22 10:08] KevinJump commented on #316
Hi,

yes, also there is a bit of code we didn't port over from v8 around finding things based on baseURLs (in another bit).

Fixed this for the next release and pushed a beta to our nightly feed :

- https://dev.azure.com/jumoo/Public/_packaging?_a=package&feed=nightly&package=uSync.Complete&protocolType=NuGet&version=9.0.5-beta001

(instructions on how to add the feed to your builds are on the [c

[2021-11-22 10:10] KevinJump commented on #316
this also adds the ability to set base host in the UI. (you might need to refresh js files/cache.)

under the 'advanced' tab of a server :

![image](https://user-images.githubusercontent.com/431231/142842764-c5591b08-7d6d-4163-8407-d953735efd5a.png)

[2021-11-22 13:02] marklonquist commented on #316
Nice.

I used the IncludeHost = false method as I believe the AppId and AppKey should be enough. :-)

[2021-12-01 13:10] KevinJump opened #317 "Cannot Find tab warning when using nested groups in tabs v8.17"
When you attempt to import a group inside a tab with Umbraco v8.17 - the group isn't created withe the correct name so when the properties are added an error occurs:

![image](https://user-images.githubusercontent.com/431231/144240136-7f0d07c5-bd77-4046-a677-1772e33bab76.png)

This is because uSync turns the tab alias into a save alias which removes the "/" when it shouldn't

[2021-12-01 13:10] KevinJump commented on #317
fixed

[2021-12-01 13:10] #317 closed, assigned to KevinJump

[2021-12-03 18:15] callumbwhyte opened #319 "Need a better way of disabling Content in V9"
**Is your feature request related to a problem? Please describe.**
Prior to V9 Content Edition was separate and therefore off by default, but now it's enabled OOTB. This doesn't fit our workflow so we'd like to be able to turn it off.

The [docs](https://usync.jumoo.co.uk/docs/uSync/guides/content/) suggest turning this off by setting `ExportOnSave` and `UIEnabledGroups` to "Settings". This works

[2021-12-10 14:40] KevinJump commented on #319
Hi,

Sorry missed this 😞

you should be able to set ExportOnSave and UIEnabledGroups to a comma delimited list of groups "e.g Settings,Vendr" - something we fixed for 9.0.4 i think

https://github.com/KevinJump/uSync/commit/d32f250cdd26da1db4269610ef4fc9d22da8b444

[2021-12-13 10:48] marklonquist opened #320 "Unable to access _dependencies.config"
![image](https://user-images.githubusercontent.com/1456819/145798792-e0f34ee8-dfce-4396-83ea-e71cdc9f4033.png)

[code]

While trying to push or pull content, we get the above error. Our umbraco 9 instances are running on alpine linux (so.. Linux) using containers.

It's wierd though, because it seems the file has been created - even with the correct user. And it is readable.

[2021-12-13 17:31] KevinJump commented on #320
thanks, i will take a look i suspect its a containers thing, will see if i can spin something up and replicate. if you could confirm the casing is OK for the file/path (we do test on case sensitive folders, but its always worth a check).

[2021-12-13 17:50] marklonquist commented on #320
Is the path even correct to the file? Seems like it's looking for it at the root.

Shouldn't it be looking at ~/umbraco/Data/TEMP/uSync/X/XXXX?

[2021-12-13 19:53] KevinJump commented on #320
Hi yeah i think one of two things is happening,

either
a) for some reason the target folder is getting lost when we are calculating the location to unzip to. Now this is generated from the request ID (a guid) and the temp folder (an umbraco/asp.net setting) - hopefully that is quite robust, but if it was blank it might exhibit this behavior _(although is the guid was blank i would expect 0000-000

[2021-12-13 19:59] marklonquist commented on #320
I'll update to the nightly tomorrow morning and get back to you. 🙃

[2021-12-14 07:29] marklonquist commented on #320
with the nightly we were able to push data between environments.

However, after a push data is not always updated correctly. We push a page that has all blocks in a block list removed, but they are still present on the destination.

Is block lists not being handled yet?

[2021-12-14 09:00] marklonquist opened #321 "Full Sync PUSH rather than pull"
Currently it's only possible to perform a full sync between two environments with.a PULL method (eg. from prod PULL from staging).

We would like to be able to instead do a PUSH from our staging environment, as we want to completely isolate the production environment (eg not let content editors access it).

Also, we would like to be able to schedule this so it runs, say, every night at a certain t

[2021-12-14 09:54] KevinJump commented on #321
Hi,

you can push or pull a full sync from the server page . this should allow you to do a full sync both ways.

![image](https://user-images.githubusercontent.com/431231/145974874-10f4d168-5561-474f-95b9-16ad2d1d896a.png)

Its the server config that details what an editor can do, and this can be setup so they can only do push if thats all you want.

![image](https://user-images.githubusercontent.

[2021-12-14 09:56] KevinJump commented on #320
Hi

the block lists should work -  Are you using any variant language stuff (how partial languages are synced can effect this?) -

but we will take a look at that.

[2021-12-14 10:25] marklonquist commented on #320
We're using the built-in language system. Nothing third-party. :-)

[2021-12-14 12:08] KevinJump commented on #320
Hi Just to confirm removing blocks (some or all) froma block list property does work when testing.

Just to confirm uSync.Publisher syncs **published** content between servers (so if you remove the block elements and only save content - then when you push to the other server they will still be there as they are still published on the source).

if its not this It might be a Linux thing that will ta

[2021-12-17 12:40] daanbakker1995 opened #322 "Using the uSyncService events to change importing data does nothing to the importing data."
**Describe the bug**
I am using the uSync 8 Exporter (v8.11.5). And I'm trying to change data that's getting imported. To achieve this I'm using the uSyncService event: ImportingItem. Then changing the items value. This however seems to do nothing to the item while importing. While debugging in Visual studio, I do get the element in my method. But when I change the data it does nothing to the impo

[2022-01-06 16:36] KevinJump opened #323 "Repeatable strings inside DocTypeGridEditors are not deserialized correcltly."
If you have a Repeatable String property inside a document type that you are using inside a DocTypeGrid Editor then the values are not created when you import to a new site.

this is because the default behavior of the doctypegrid editor mapper is to escape the json values of any nested json properties _(this is how we do it for nestedcontent, content blocks etc)_ however for the doctype grid edit

[2022-01-06 16:38] KevinJump commented on #323
Fix for this, is to not encode - but we also need to ensure that any nested nested values are not encoded,

so for example if there is a nested content block inside the doctypegrid editor and that contains yet more nested json values, we need to expand them but only when in the dcotype grid editor and not when we are inside other editors.

[2022-01-06 16:39] #323 closed, assigned to KevinJump

[2022-01-06 16:39] KevinJump commented on #323
re-open Also need fix for v8 branch

[2022-01-07 10:58] mistyn8 opened #324 "[Question] v9.0.4 "EnableHistory": true.. is this only for Umbraco8 and not 9?"
Hopefully, a picture paints a thousand words.. history enabled, but no history content app in umb 9.1.2 + uSync 9.0.4
![image](https://user-images.githubusercontent.com/12418214/148534164-2afba1f9-1fb1-478f-be6d-e81fe9a9b217.png)

[2022-01-07 11:05] KevinJump commented on #324
Yeah the history app isn't part of uSync 9.x (yet) - will have to get it ported over.

[2022-01-07 12:06] KevinJump opened #325 "Changes in ApiRouting in Umbraco 9.2 cause some uSync API calls to not work as expected."
A change in the configuration of routes for UmbracoJsonApiControllers in Umbraco 9.2 means that you now have to explity mark parameters on a method when you are using query parameters with Post calls. (see https://github.com/umbraco/Umbraco-CMS/pull/11557)

In uSync we have a few API calls that use the POST method but include a query elements, while these do not effect the main sync functionalty i

[2022-01-07 12:06] #325 closed, assigned to KevinJump

[2022-01-07 12:27] mistyn8 opened #326 "ImportOnStartup="Default" nothing is processed, whilst ImportOnStartup="Settings" works as expected?"
[code]
  I can see logs for Default
[code]
  vs Settings
[code]

  Is it the case that ImportAtStartup expects `None`, `All`, `Settings`, `Content` or do I need to specify handlers in the DefaultSet?

[2022-01-07 13:45] KevinJump commented on #326
yes, ImportAtStartup expects None, all, settings or content (or a combination of them).

[2022-01-07 13:45] KevinJump commented on #326
We will confirm the docs make sense on this

[2022-01-07 15:00] #322 closed, assigned to nobody

[2022-01-07 15:16] KevinJump commented on #322
Hi Dan,

Just to confirm i think this is still an issue ? or is there a workaround, was just about to start looking at the next release and this was on my list .

[2022-01-07 15:23] daanbakker1995 commented on #322
Hi Kevin,

I think it's still an issue. I found a workaround. I used the event to find which imported items contain the text I want to be replaced. Then used different Umbraco services(like the IContentService) to change the content, after the import is finished.

[2022-01-07 15:45] KevinJump commented on #322
i need to test it, but sort of hoping this is a simple fix. as everything is passed by reference if we set the node to the value in the event args i *think* that will trickel back up to the calling item.

[2022-01-07 15:50] mistyn8 opened #327 "Clean Export option unreachable when "UIEnabledGroups": "Settings""
Is it possible to move the cleanExport, like we can the dicitionaryHandler when not wanting content synching (and hiding the All settings back-office option)

Or perhaps all groups could have a clean export option (related to their scope)?

[2022-01-07 15:53] KevinJump commented on #322
bit more complex :(

[2022-01-07 15:58] KevinJump commented on #327
hi, yeah will take a look, we should be able to add it when the UIEnabledGroups setting is there - just need to make sure it doesn't confuse people as a clean removes everything at the moment.

[2022-01-07 16:05] mistyn8 opened #329 "Back Office "view appsettings" doesn't show all set appsettings."
v9.0.6

![image](https://user-images.githubusercontent.com/12418214/148571254-4899968c-c433-49ec-9f0f-a89a9212e423.png)

Not sure if the intention is to show where appsettings has altered from the default, or all the settings currently in play defaults as well?

[2022-01-07 16:08] KevinJump commented on #329
yeah to be honest i was a little unsure about this change - it is only showing changes, but if you have defaults then yeah they go, its hard / impossible to tell i think that is actually set (because app-settings can be in several places).

I might well go back to the old , here are all your settings view.

[2022-01-07 16:09] KevinJump commented on #329
also that view doesn't work properly !

V9.1 is a UI release to wlll fix it all in that

[2022-01-10 09:12] hamzatki opened #330 "Umbraco 8 : Usync warnings on startup"
Umbraco 8 logs contains these warnings for each of the default usync handlers e.g.

No Handler with "contentHandler" has been loaded
No Handler with "contentTemplateHandler" has been loaded.
No Handler with "dictionaryHandler" has been loaded
No Handler with "domainHandler" has been loaded
No Handler with "mediaHandler" has been loaded

I am running umbraco v8.14.2 with uSync 9.06

I have this set

[2022-01-20 09:44] mistyn8 commented on #330
It is for information when the "all" is the default set.. (eg these handlers from the default set have be excluded by config)
https://github.com/KevinJump/uSync/blob/v9/main/uSync.BackOffice/SyncHandlers/SyncHandlerFactory.cs#L178-L182

It looks like you might just want "Settings" as your default set? and then those logs wouldn't show.

[2022-01-20 09:46] mistyn8 opened #331 "Usync stalls when change to parameter name is only case."
u9.1.2 usync9.0.4

![image](https://user-images.githubusercontent.com/12418214/150314086-f4223979-e602-46ed-b966-0170c19dd992.png)

Seems to be causing ContentType import to stall.

[2022-01-20 10:19] KevinJump commented on #331
Hi is there any error in the log when you attempt the import ?

[2022-01-20 10:46] mistyn8 commented on #331
not that I can see (or any angular errors in the console) the site just becomes unresponsive and sits with the contentType icon progressbar stalled.
A recycle is required to resume.

Just tried to reproduce, but seems not to be happening now. (I did fix by manually changing the prop name in the backoffice so have prob changed my local db now?) reverting to the previous usync.config file reported t

[2022-01-22 16:45] nisancigokmen opened #333 "uSync Project"
:)

[2022-01-22 16:46] nisancigokmen commented on #333
_You can contact us, we will talk in detail. :) good days :100:_

[2022-02-01 21:13] lordscarlet commented on #87
I am running `v8.9.7` and the include/exclude values don't seem to be working for me.

[code]

It looks like this specific method doesn't even exist anymore in `v8.10`

[2022-02-01 21:32] paulwoodland opened #335 "uSync 9 - export on save overwriting content with same name"
**Describe the bug and how to reproduce**
If you have multiple documents in your tree with the same name (even though they are in different locations in the tree, so this is fine) and you have export on save turned on in uSync, when you save changes to the document it correctly saves the right document, but then also overwrites all of the uSync files for the documents with the same name with files

[2022-02-01 22:21] lordscarlet opened #336 "Path length error on node that is not included"
**Describe the bug**
Even with a node excluded, receive the error `The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters`

**To Reproduce**
1. Have a node that is too long
2. Use the `include` setting to include a path that does not contain the node
3. Export content

**Expected b

[2022-02-01 23:52] lordscarlet commented on #87
Disregard. I'm not sure what I had wrong (may have needed an `iisreset`?), but this is in fact working as documented.

[2022-02-02 09:36] KevinJump commented on #336
Thanks, we will take a look, guessing we are checking some path thing too soon 🤔

[2022-02-02 09:39] KevinJump commented on #335
Hi

Yeah your right - I think we're missng an override, the TreeHandlerBase should override DoItemsMatch to then do a lookup based on the alias/path/key, so all tree based things match on something else.

We will get this fixed asap.

Kevin

[2022-02-02 09:40] #333 closed, assigned to nobody

[2022-02-02 10:28] Sophiehillebrant opened #337 "Problems with backoffice language at publish"
**Describe the bug**
When the editors backoffice language is set to Swedish (so far I have identified the problem occurring for svenska(Sverige) and norskt bokmål(Norge) ), I am not able to publish any pages. An error is thrown (see screenshot). The other languages seem to work perfectly fine, no error and the page published as expected. Maybe it is expected behavior and usync for Umbraco 9 does n

[2022-02-02 10:39] KevinJump commented on #337
Thanks,

Interesting. i think its this https://github.com/dotnet/runtime/issues/40922
which is essentially some languages don't like -1 because - isn't minus - every day is a day at school.

we can fix this. for next release,

[2022-02-02 10:52] KevinJump opened #338 "Multi target Package (Net 5 and Net 6)"
There are some very subtle diffrences between .net 5.0 and .net 6.0.

the main one is .net 6 now includes the .DistinctBy method that is currently only an umbraco extension method. In Umbraco 10 (which will support .net 6) this extension method will be removed.

In order to have a package that works on both Umbraco 9 (.net 5) and Umbraco 10 (.net 6) we will need to multi-target so we can choose in

[2022-02-02 11:05] #338 closed, assigned to KevinJump

[2022-02-02 11:06] paulwoodland commented on #335
Many thanks for getting it looked at so quickly :) Would have submitted a PR, but wasn't sure where best to override it!

[2022-02-02 12:49] Sophiehillebrant commented on #337
Oh yeah, tricky one to spot! Sounds great, much appreciated :)

[2022-02-03 09:15] #335 closed, assigned to KevinJump

[2022-02-03 09:15] #337 closed, assigned to KevinJump

[2022-02-03 12:15] Scherling opened #340 "Umbraco 8: Level changes for document-types inheriting compositions is not updating as expected"
**Bug Description**
On Umbraco 8 installation (8.16) using uSync 8.10.4
As an administrator when configuring document types, when a document type is created under a composition document type, thus inheriting its properties, the `Level `property for the usync config `ContentType `element for that document type will correctly be 1 higher than its parent element.

However, when manually editing this

[2022-02-03 12:39] KevinJump commented on #340
Hi,

I think this works but if you are editing the files you have to be careful of a number of things.

1. If you create a new doctype by file, it much have a unique key (GUID) if you just copy something that is already there and don't alter this, then you will get clashes.

2. When setting the parent / compostion make sure you update the key and alias values to match those of your baseItemPage
Th

[2022-02-03 16:39] #336 closed, assigned to KevinJump

[2022-02-03 16:40] #326 closed, assigned to KevinJump

[2022-02-03 16:42] KevinJump commented on #39
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

[2022-02-03 16:42] #39 closed, assigned to nobody

[2022-02-03 16:42] #155 closed, assigned to nobody

[2022-02-03 16:43] #80 closed, assigned to KevinJump

[2022-02-03 16:43] #81 closed, assigned to KevinJump

[2022-02-03 16:44] #172 closed, assigned to nobody

[2022-02-03 16:45] KevinJump commented on #172
We didn't back port in the end, because we changed other stuff in later versions which changed the format anyway. so it would have broken later releases for no real benefit.

[2022-02-03 16:45] #180 closed, assigned to nobody

[2022-02-03 16:45] #185 closed, assigned to nobody

[2022-02-03 16:46] #257 closed, assigned to nobody

[2022-02-03 16:46] KevinJump commented on #230
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

[2022-02-03 16:46] #230 closed, assigned to nobody

[2022-02-03 16:46] #319 closed, assigned to nobody

[2022-02-03 16:46] #316 closed, assigned to KevinJump

[2022-02-03 16:47] #253 closed, assigned to nobody

[2022-02-03 16:47] #229 closed, assigned to KevinJump

[2022-02-03 16:48] KevinJump commented on #217
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

[2022-02-03 16:48] #217 closed, assigned to nobody

[2022-02-03 16:49] KevinJump commented on #321
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

n.b i think push pull of settings was updated in c8.11.x uSync.Complete.

[2022-02-03 16:49] #321 closed, assigned to nobody

[2022-02-03 16:49] KevinJump commented on #202
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

[2022-02-03 16:49] #202 closed, assigned to nobody

[2022-02-03 16:49] KevinJump commented on #320
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

[2022-02-03 16:49] #320 closed, assigned to KevinJump

[2022-02-03 16:50] #196 closed, assigned to KevinJump

[2022-02-03 16:50] KevinJump commented on #324
removed setting (for now) in v9.1

[2022-02-03 16:50] #324 closed, assigned to KevinJump

[2022-02-03 16:52] KevinJump commented on #331
Closing, lets hope it was a one off. will re-open if we see it more.

[2022-02-03 16:52] #331 closed, assigned to nobody

[2022-02-03 16:53] KevinJump commented on #330
This log has been changed to debug for later versions - it isn't really something we need to show people unless they are troubleshooting.

[2022-02-03 16:53] #330 closed, assigned to nobody

[2022-02-03 16:54] KevinJump commented on #285
Closing now (Linux issues delt with as they come in)

[2022-02-03 16:54] #285 closed, assigned to nobody

[2022-02-03 16:55] KevinJump commented on #79
CLI tool is not being actively ported to v9. because of NuCache locking issues.

[2022-02-03 16:55] #79 closed, assigned to KevinJump

[2022-02-03 17:05] KevinJump commented on #268
Hi,

We are just cleaning up old, issues, i hope this was something that has either been fixed for you or not happened again.
if this is still an issue, then feel free to drop in a comment and we will look at re-opening the issue.

♾️

_(Note: i *think* this was to do wqith tabs/groups. we did quite a bit of work post this issue, around how tabs can change to groups, accross compotions, one of the

[2022-02-03 17:05] #268 closed, assigned to nobody

[2022-02-04 10:06] jso-dwarf commented on #340
I did some additional testing, and I wrongly assumed this to be an issue with the document type you update. It's not, but rather, it's an issue with the document types even lower in the hierachy. I think I confused myself a bit when I tried making a more generic example for the bug report.

Continuing my above example, if the tree structure contain an additional level, let's call it `SubItemPage `

[2022-02-04 10:28] Scherling commented on #340
And just to clarify, the above post is still me, I just accidentally used my work account to post :)

[2022-02-07 14:59] #329 closed, assigned to KevinJump

[2022-02-07 15:02] KevinJump commented on #340
OK, i will need to check this, it might be an Umbraco thing (but will see if i can confirm) - uSync sets the parent item via the Umbraco API, we don't actually set path or level - because these should be (and are usually) calculated when you set the parent.

so i wonder if something is going wrong when that happens, will take a deeper dive and see if we can sort the issue.

[2022-02-07 15:31] KevinJump commented on #340
Hi I still can't reproduce this locally 😞

My testing below:

I have a number of files created by Umbraco and from uSync files.

![image](https://user-images.githubusercontent.com/431231/152817249-1e5d152e-d605-44ef-81c6-8263e8607ab0.png)

at this point everything appears to be in the right place.

### if i alter the `BaseChildFile` config. to move its level:

#### in the first instance moving it

[2022-02-07 15:44] Scherling commented on #340
Hi, thanks for investigating.

I will have to figure out if it's something else causing this issue, then.
I'll let you know if I figure it out.

[2022-02-09 11:45] KevinJump opened #341 "Include path in Sync action so we can show paths in the UI"
where possible Include the path to an item (e.g /home/about-us) in the uSyncAction reponse, this means if there are two items, we can show the diffrence between them:

https://github.com/Jumoo/uSync.Complete.Issues/issues/152

[2022-02-09 11:45] #341 closed, assigned to KevinJump

[2022-02-09 11:46] KevinJump opened #342 "Improve the readability of changes in the details pane"
Make it easer to spot changes by adding background colors :

https://github.com/Jumoo/uSync.Complete.Issues/issues/144

[2022-02-09 11:46] #342 closed, assigned to KevinJump

[2022-02-11 09:55] bielu opened #343 "Usync import will fail if you swap aliases of 2 document types"
**Describe the bug**
As described in title if you swap aliases of document types usync will fail on import.

**To Reproduce**
Steps to reproduce the behavior:
1. Create to document types, as example: Document (document) and Document Item (documentItem)
2. Change Document alias to document2
3. Change Document Item alias to document
4. Change Document alias to documentItem
**Expected behavior**
A us

[2022-02-11 10:10] KevinJump commented on #343
Hi,

Yeah I think its the same issue that means you have to give them a temp name when you do it, e.g. the names clash.

We can probably do something where we give them a temp name and then in the second pass give them the proper one.

[2022-02-11 10:14] bielu commented on #343
@KevinJump yeah I think it has to be resolved in that way 👍

[2022-02-11 12:16] KevinJump commented on #343
the PR should fix this - i want to put some performance checking around it, because it not going to be the quickest thing if you rename a doctype twice and it has a lot of content associated with it (when you save it Umbraco will update all the existing content and that can be slow).

but its an edge case that i don't think will slow down most 'normal' uses so should be ok.

RC version in our nigh

[2022-02-14 09:40] bielu commented on #343
@KevinJump I hope to have time to test that this thursday, I will let you know if I will find anything.

[2022-02-15 14:37] KevinJump opened #346 "Support HistoryCleanup Properties in Umbraco 8.18.0"
Umbraco v8.18.0 introduces history cleanup (see https://umbraco.com/blog/umbraco-91-release/#history) .

This adds some new properties to ContentTypes (in a HistoryCleanup object) - we need to serialize / deserialize these settings so they can be moved with all the other bits.

[2022-02-15 14:38] #346 closed, assigned to KevinJump

[2022-02-16 17:10] KevinJump opened #347 "Improve performance on save/move/delete for large sites."
The fix for #216 allowed us to ensure that when someone deletes a doctype and then recreates it with a new name (and key) that we find that old value and make sure its no longer a delete.

However this introduced down-level performance issue for sites with a lot of content/media because the clean-up was now running for all events (save, delete, move), when most of the time it doesn't need to,.

Th

[2022-02-16 17:19] KevinJump commented on #347
this (along with support for History cleanup (#346) might be enough to justify bumping the minor version number one last time for uSync 8 ?

[2022-02-17 11:59] KevinJump opened #348 "Bug: Renaming and then deleting a ContentType item - produces a rouge 'clash' line report view"
If you rename a ContentType then later on you delete it  when you run a uSync report on another site you will get a 'clash' warning in the report saying an item will get created and then deleted. - this won't actually happen, uSync is incorrectly treating the rename as an action when checking for duplicates.

fix is to ignore rename files when running this check (because if the file does need crea

[2022-02-17 12:03] KevinJump opened #349 "Bug: After a content item is renamed the FriendlyPath stored in the uSync file still points to the old name"
If you rename a content (or media) item then when the uSync file is generated for the item, it will contain the old name in the 'Path' element of the file.

this doesn't cause any syncing issues as the name is only used if the key is missing but it does show up as a change and changes are slightly slower on import because they trigger the full import of an item.

v8 fixed in: 1a3de67689914a3988341

[2022-02-17 12:07] KevinJump opened #350 "BUG: Moving a ContentType from a container to the root is not reflected in a sync."
If you move a content type from a container (folder) to the root of content types, then during a sync on another machine this move will not be applied.

this doesn't impact site performance as the location of content types has no effect on any operations. (its purely ui, there is no spoon!)

v8 fixed in : 80ff05e63939c7564463c75ae9f562a6b957676c

[2022-02-17 12:09] KevinJump opened #351 "BUG: When a published item is moved to the trash then uSync will still attempt to publish it on sync."
If you delete a content item while it is published it will go into the trash (and i think not be published). uSync will record that the element is in the trash but hte published flag is still set on the object.

during a sync to another instance uSync will atte,pt to publish the item when it shouldn't

v8 fix in : 80ff05e63939c7564463c75ae9f562a6b957676c

[2022-02-17 16:10] #343 closed, assigned to KevinJump

[2022-02-17 16:10] #349 closed, assigned to KevinJump

[2022-02-17 16:10] #350 closed, assigned to KevinJump

[2022-02-17 16:10] #351 closed, assigned to KevinJump

[2022-02-17 16:12] #348 closed, assigned to KevinJump

[2022-02-17 16:12] #347 closed, assigned to KevinJump

[2022-02-25 13:54] TQ-Benji opened #361 "Error when importing templates: The template '.cshtml' file is missing."
**Describe the bug**
When importing templates, get error "The template '.cshtml' file is missing"
Could be related/similar to #265 and #308 don't see anything about them in change logs

I have this config enabled so the views are in a dll not actual files
[code]

Workaround is to create the template on the deploy server with same name and then go into file system and delete the generated template

[2022-02-25 16:02] KevinJump commented on #361
Hi thanks for the prompt, you right this is something we need to look at, its been on our list for a while - we will bump it up!

[2022-03-01 16:19] dKumarmj opened #363 "Error throwing when we try to save & publish, export or import the content/node"
**Error on Content Save & Publish / Export**
Error throwing when we try to save & publish, export or import the content/node having the long name

**To Reproduce**
Steps to reproduce the behavior:
1. Create content with the long node name
2. Try to save & publish / Go to the settings section
3. Scroll down to Usync
4. Try to export

**Error in detail**

 - Request : /umbraco/backoffice/usync/usync

[2022-03-01 19:16] KevinJump commented on #363
Hi,

If you have really long node names the advice at the moment is to switch to using telling uSync to use Guid File Names for the names of the items:

you can do this globally:

[code]

or just for uSync.Exporter

[code]

[2022-03-02 15:43] callumbwhyte opened #364 "Don't overwrite relations when importing relation types"
We have enabled relation type syncing in uSync, but now every time we deploy all relations that apply to a uSync'd type get erased.

I tried to set relation types to one-way, see below, but had no luck:

[code]

We are using uSync v8.11.0 with Umbraco v8.18.0

Not sure if I'm missing something or if this is a bug...!

[2022-03-02 15:50] KevinJump commented on #364
Hi ,

just to confirm is this the relation type or the relations that are going missing (the handler does both, but i think relations bit is off by default).

but I will have a look see what there is...

[2022-03-02 15:52] callumbwhyte commented on #364
Hey @KevinJump,

Thanks for the speedy reply.

This is relation types - we have the following definition:

[code]

And the following config in uSync.config:

[code]

That's the only thing referencing relations so couldn't see a way to turn this off.

Cheers,
Callum

[2022-03-02 15:59] callumbwhyte commented on #364
I don't think I properly read your message...

We are syncing relation types. Every time we sync it wipes out the **relations** for that type.

[2022-03-02 16:09] KevinJump commented on #364
Hi,

I think you need to turn the 'IncludeRelations' to off (its on by default, i thought it was off )

[code]

[2022-03-02 16:10] KevinJump commented on #364
guessing the relations don't exist on the source so are wiped on target :( -

I think we will change this default for next v9 ? /  and in v10.

[2022-03-02 16:14] callumbwhyte commented on #364
That'll do it! I couldn't find anything in the docs about this _(in fact relation types aren't mentioned at all!)_, so thanks very much for the pointers. 👍

Would be great to see this off by default in whatever the soonest release you fancy making a breaking change is :-)

[2022-03-02 16:17] KevinJump commented on #364
indeed - the docs are a bit light on the relation handler, we added it later and need to go back.... put a basic warning in the config part of the docs now, but it will need more written about it i think.

[2022-03-02 16:18] callumbwhyte commented on #364
H5YR, thanks a lot Kevin!

[2022-03-02 16:18] #364 closed, assigned to nobody

[2022-03-02 22:19] NikRimington opened #366 "User Groups"
Hey Kevin,

Is it possible to use uSync to export and import user groups?
It would be great if we could import/export user groups (excluding the groups members) between environments so when we are setting up specific access rules we can test them full and then deploy them efficiently.

[2022-03-03 07:34] dKumarmj commented on #363
Thanks, @KevinJump  for the quick response, if I change to GUID, is there any issues at the time of importing the existing content?

[2022-03-03 08:13] KevinJump commented on #366
HI Nik,

Yeah that functionality is part of uSync.Complete - uSync.PeopleEdition can exports user groups (and users, and member groups and members and you can turn off the ones you don't want :wink: ) it is not unfortunately part of the free uSync package.

[2022-03-03 08:13] #366 closed, assigned to nobody

[2022-03-03 08:16] KevinJump commented on #363
Hi,

There is no issue in terms of importing the content of the folders , all that changes is the filename (so the actual data being imported is the same) .

We do recommend if you switch to GuidFilenames that you perform a clean export, as the existing items on disk in your uSync folder will still have the old names and will start to get duplicates files as the guid versions of the files are save

[2022-03-03 08:38] dKumarmj commented on #363
Thanks @KevinJump , make sense, please let me know how we can add this configuration in the Azure WebApp configuration?

[2022-03-03 09:50] KevinJump commented on #363
Hi,

you can put these settings in your applications appsettings.json file so when you site is deployed it will always have these settings,

however if you want to specifically set them on azure then that is done in the WebApps's configuration section:

![image](https://user-images.githubusercontent.com/431231/156539658-9c171939-27b4-4c0f-b514-814895dc5d34.png)

as per the Microsoft documentation

[2022-03-09 17:03] PhyxionNL opened #367 "Media push to remote doesn't detect locally deleted folders"
**Describe the bug**
Pushing media to remote doesn't detect locally deleted folders. It doesn't matter if the folder is empty or not, it's not detected in both cases.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to .../umbraco/#/media.
2. Click on 'Media', the big top node. Then ... > Do something else > Push to...
3. Select a target > remote destination. All checkboxes below are check

[2022-03-09 22:49] shearer3000 opened #368 "can uSync create and delete dictionary keys (just not update/overwrite existing)"
Hello

_By default the DictionaryHandler is treated as a content handler, so Dictionary items are synced when you sync content._

That’s great for new and deleted dictionary keys, however, unchanged dictionary keys would lose values the content editor has entered as they are ‘updated’.

Looking at the documentation https://usync.jumoo.co.uk/docs/uSync/guides/dictionary the only possible option oth

[2022-03-10 12:04] harry-gordon opened #369 "uSync can inadvertently create an app.config file which causes a ConfigurationErrorsException"
**Describe the bug**
If you have an entity (e.g. DocumentType) named app, uSync will create an `app.config` file will get used in compilation and cause an .`ConfigurationErrorsException` on start-up.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a doc type with alias "app"
2. Do a uSync export
3. Restart the application 💥

**Expected behavior**
That uSync names the file something el

[2022-03-10 12:26] KevinJump commented on #369
Hi,

Unfortunarly i can't reproduce this 😞  - (just did the steps above) .

the error seams to suggest a config file in the bin folder. and uSync shouldn't touch anything over there. the `uSync.config` is in the root of the uSync/v9 folder ? and that shouldn't really be getting read in by the boot process.

do you have any custom uSync settings (in appsettings.json) and does your project file (..c

[2022-03-10 13:51] harry-gordon commented on #369
Hi Kevin, thanks for the quick response! No worries, I suspected this might be a more nuanced problem... so you're right, it is something in the bin folder, it's a uSync config file named `HarryGordon.Umbraco.StudyToolkit.Cms.dll.config`. You're gonna love this...

It's because I have a ContentType called `App` so uSync has created a file called `app.config` 😆. If I rename these configs everything

[2022-03-10 15:34] KevinJump commented on #369
Will be fixed in the next release (if we find we are about to save app.config or web.config we add underscores (`__app__.config` and `__web__.config`).

there is also a setting in the ~current release~ where you can change the file extension from .config .

_correction this will also be in 9.2.1_

e.g to have using write out `.xml` files

[code]

in v10 we are likely to make this the default (woul

[2022-03-10 15:36] #369 closed, assigned to KevinJump

[2022-03-10 16:07] KevinJump commented on #367
Hi,

yeah - just looking at this we don't currently put a root clean command in  😔 - so it works at all levels but the top level.

Will take a look and see what's possible

[2022-03-10 16:15] PhyxionNL commented on #367
Thanks. I found out it also happens with Document Types and Data Types (under Settings), if you select these nodes to push to remote, deleted items aren't detected either. Probably the other sub categories there are also affected, but I've not tried.

E: Feel free to move this to uSync Complete Issues. I thought this was that repo 👀

[2022-03-10 16:23] KevinJump commented on #367
Yeah - some of them we don't support delete on (because we don't want people to trash everything by accident).

_there are two parts to this uSync needs an update too, so i will leave the issue open here, when we do complete, i might make another one_

[2022-03-10 16:27] PhyxionNL commented on #367
I had to manually delete many items now several times, so it would be useful if this scneario was supported 😄 Maybe move it to trash then so it can be restored if it was ever needed :)

[2022-03-10 16:27] KevinJump commented on #368
HI At the moment the 'create only' option is the main one, this will not then overwrite the updates but we don't support "delete only" just now,

but we will add it to the backlog, to see how hard it is to do.

[2022-03-10 16:29] KevinJump commented on #367
yeah there is no trash for doctypes, data types if you delete them they are gone, and if you do it by accedent then all the content / properties would be gone to.

We might turn it on with a config setting, something like "WeWontEmailKevinIfWeLooseAllOurContent"  😉 (it is possible - its just  actively off in the code at the moment)

_edit: put this in for the next uSync.Complete release it will ha

[2022-03-10 16:45] harry-gordon commented on #369
Thanks Kevin, impressed by the speed of your response as always, particularly on what is a pretty edge case!

I noticed there's a [post on our](https://our.umbraco.com/forum/umbraco-9/107618-dotnet-run-issue#comment-336959) about this so I've linked them to this issue.

[2022-03-14 10:30] jesperweber commented on #268
We still experience this issue, but apparently only on our local environments when we use af SQL CE database.

[2022-03-16 15:54] #363 closed, assigned to nobody

[2022-03-22 06:17] KevinJump opened #372 "Inhertited doctypes loose and then regain their parent between syncs"
When syncing a doctype with a parent item (inherited) the parent will be lost and then regained between syncs.

eg.
first sync -> parent will be removed
second sync -> parent is added back

*this doesn't effect the properties on the doctype as they are kept though the composition settings. *

(original report : https://github.com/Jumoo/uSync.Complete.Issues/issues/169 )

[2022-03-22 06:24] KevinJump commented on #327
doh! got the numbers transposed. this PR doesn't fix this issue.

[2022-03-22 06:25] #372 closed, assigned to KevinJump

[2022-03-22 06:25] KevinJump commented on #372
Fixed for next patch release.

[2022-03-22 06:31] #327 closed, assigned to KevinJump

[2022-03-22 07:05] KevinJump commented on #361
Hi,

Yeah the problem appears to be that Umbraco isn't aware that you are running with the razor compiled (i am not even sure if its possible to tell this at runtime).

if you look at the template folder in Umbraco when running in this mode then all the templates will be there (because they are in the DB - but the files will be blank.

![image](https://user-images.githubusercontent.com/431231/1594

[2022-03-25 11:16] KevinJump commented on #361
So we have some code that might work for this : 98a5c002a54cd9f737fc488f38e8180745ccfd65

This requires a setting to appsettings.json :

[code]

Which tells uSync to do the following:

1. when creating a template if the template file isn't on disk, assume its in a razor view and create the template anyway.
2. when finalizing the template delete the template file that Umbraco will have created (bec

[2022-03-25 11:35] KevinJump commented on #361
Addition to this in 9d4d152c5639c749755586d3d341af172a0e2cc1

when we create the content for a file we know we are going to delete we add a marker to id,

then later on in the process when we delete the item, we can check and confirm its a 'temp' view and delete the physical file. (little worried about file locking here, but reverted to the system io methods seems to make it not lock up.

[2022-03-29 10:31] KevinJump opened #374 "uSync settings json popup is incorrect for set settings"
When using the popup in the settings UI to get a list of your settings the resulting json is incorrect for the set element of the settings.

It is missing the "Default" handler set in the json.

so :

[code]

should be :

[code]

[2022-03-29 14:26] KevinJump opened #377 "Content type saving performance improvements."
v9.2 contains some more performance improvements for saving of content and content types.

- Don't save items when the internal serializer returns saved as part of the action (reduces save count in some syncing instances)
- Sort content/media by both level and sort order before importing - reduces the need for a second pass on content/media
- New option flag to not save/publish content at all if w

[2022-03-29 14:26] #377 closed, assigned to nobody

[2022-03-29 14:28] #374 closed, assigned to KevinJump

[2022-03-29 14:51] KevinJump opened #378 "UI Progress and Button improvements."
For 9.3 - we've cleaned up some ickle niggles in the UI.

1) the right buttons spin when you run group report/import/export
2) we gray out the top boxes (and disable buttons) while reports/imports/exports are ran
3) the thin overall progress bar is back

![image](https://user-images.githubusercontent.com/431231/160639515-d2afdca5-7f26-4773-af7b-222461259d4a.png)

4) the "godo" messages are back in

[2022-03-29 14:51] #378 closed, assigned to KevinJump

[2022-03-29 14:55] KevinJump commented on #361
THis change is in 9.3 - so in theory we now support compiled razor views with uSync

[2022-03-29 14:55] #361 closed, assigned to KevinJump

[2022-03-29 14:57] KevinJump commented on #282
I think we have inadvertly fixed this, in 9.3 we import on both level and sort order (previously we imported on level and set sort order when creating the item).

I think the setting of a sort order on create doesn't work (because Umbraco ignores it) - but when we then import new things in order- the order is as expected  (mostly, if for some reason you have rouge sort orders they may not be 100%

[2022-03-29 14:57] #282 closed, assigned to nobody

[2022-03-31 09:48] KevinJump opened #379 "9.3.0 - blank desktop when using only a single UIEnabled group"
version: 9.3.0

if you have only one group set in UIEnabledGroups:

[code]
Then the dashboard will be blank and an error will show in the browser console.

![image](https://user-images.githubusercontent.com/431231/161027606-272c1650-e829-46e1-aad8-f0e9c63d047e.png)

[2022-03-31 09:51] #379 closed, assigned to KevinJump

[2022-03-31 09:55] KevinJump opened #380 "Partial Sync should order by level and sort order just like standard import"
In 9.30. we removed the second pass content import - this works but for sort order to be correct the items have to be added in sort order.

in the main import handler process we now sort by level and sort order. but not in the partial import (used by uSync.Complete - resulting in initial syncs being out of order via uSync complete.

to fix this : 3c56c5038d2b50f57764ffdb280611675b0a533d ensures pa

[2022-03-31 09:55] #380 closed, assigned to KevinJump

[2022-03-31 09:57] KevinJump opened #381 "Media imports report no-change, even when there was one."
v9.3.0 - When importing media the report will tell you there is a change, the import will work, but action result will be 'NoChange' even though there was some.

more noticiable in uSync.Complete which reports 'No changes banner' even when there was.

fixed in 0605103f4e87d717ac76445bc0a3ed7933ff6468

[2022-03-31 09:57] #381 closed, assigned to KevinJump

[2022-03-31 09:59] KevinJump commented on #379
Workaround :- Set UI enabled groups to two groups the second one can not exist, that doesn't matter

[code]

you will loose the 'export all' button from the drop down but everything else will work.

[2022-04-04 15:52] KevinJump opened #382 "FirstBoot 🥇🥾 - improve the onboarding experience for initalizing sites with uSync"
FirstBoot  🥇🥾  is an initiative to make the onboarding of a new instance of a site nicer - should that been pushing a new site to a hosting service, or cloning down a copy of a site from source control or some network location.

for uSync we have two elements to FirstBoot:

## 1. New NoNodes welcome screen:

![image](https://user-images.githubusercontent.com/431231/161581385-f50bd8c0-422b-4685-bfa

[2022-04-04 16:00] KevinJump commented on #382
Preview 9.4 build :
https://dev.azure.com/jumoo/Public/_artifacts/feed/nightly/NuGet/uSync/9.4.0-beta001/overview

[2022-04-05 11:12] KevinJump opened #384 "Selectable Sets: 📐"
At the moment the uSync dashboard uses the "Default" set in the config for all of its actions.

this feature will allow custom sets to be defined and then picked from a drop down on the dashboard
![image](https://user-images.githubusercontent.com/431231/161741150-b8f9deeb-44e4-460a-836d-b3eaf42e3e7c.png)
(drop down will only appear when there are multiple 'selectable' sets).

### use case
This mea

[2022-04-11 22:26] JoseMarcenaro opened #386 "Report shows HistoryCleanup differences in Umb v8.18.3"
**Describe the bug**
After exporting the definitions and getting a [Report] all document types still show 3 differences for "HistoryCleanup" properties
I found no way of getting rid of them.

**To Reproduce**
In an existing v8 website
* upgrade Umbraco to v8.18.3 and uSync v8.11.0
* on the uSync dashboard, click on [Export]
* on the uSync dashboard, click on [Report]

**Expected behavior**
No chan

[2022-04-11 23:50] JoseMarcenaro commented on #386
Hi Kevin, please disregard this - I messed the export and import with the flat structure on/off

[2022-04-11 23:50] #386 closed, assigned to nobody

[2022-04-14 09:14] #382 closed, assigned to KevinJump

[2022-04-14 09:14] #384 closed, assigned to KevinJump

[2022-05-05 19:47] SquaredSee opened #389 "SyncHub 404 Error & "Cannot read properties of null" During Import"
**Describe the bug**
When using uSync to import content to our site, the import seems to get stuck on "Post import actions". Looking into the console, I see that reloading the page causes the error messages up to "Failed to start hub". When I attempt to import the content, the final error "Cannot read properties of null" happens.

We have deployed this same build on two different environments, wit

[2022-05-13 16:25] jamiepollock opened #390 "v10-rc1 current version (v9.4.0) causes a boot failure."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh copy of Umbraco 10 RC1
2. Install uSync latest
3. Build & run website

**Expected behavior**
uSync should not crash app boot.

**Screenshots**
![Screenshot 2022-05-13 122248](https://user-images.githubusercontent.com/5408006/168326241-88048fd8-bcb2-44b8-9bb3

[2022-05-13 16:29] jamiepollock commented on #390
Looks like v9.3.2 works fine because it doesn't have FirstBoot.

[2022-05-13 16:32] jamiepollock commented on #390
I've tried disabling FirstBootOnImport but [the migration will still run](https://github.com/KevinJump/uSync/blob/26c6cf1ecafa7cc6e7d4fdc4a51883abc61e7673/uSync.BackOffice/Boot/uSyncBootExtension.cs#L67-L81) and that's the conflict we're seeing with v10 RC1.

[2022-05-16 10:19] KevinJump commented on #390
Yes there is a breaking change with the scope (its moved to ICoreScope - i[ think the intention was for this not to be a breaking change in v10](https://github.com/umbraco/Umbraco-CMS/discussions/12217#discussioncomment-2502252) - but it looks like it is

Anyway - uSync 10.0 beta1 is out now, and all this works. 🎉

https://www.nuget.org/packages/uSync/10.0.0-beta1

[2022-05-16 10:19] #390 closed, assigned to nobody

[2022-05-16 22:54] jamiepollock commented on #390
@KevinJump great work. Thanks Kevin.

[2022-05-20 06:28] Sven883 commented on #368
Hello @KevinJump, our handler is set like this:
`<Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />`
But this also syncs updates to existing dictionary items. We would like to have create and if possible the delete not an update.
How would we do that?

I've read the documentation and the options All,Import,Export,Events.
I've tried using export but when I'm making a new dictonary i

[2022-05-21 14:25] creativesuspects opened #391 "DirectoryNotFoundException"
**Describe the bug**
I'm getting a `DirectoryNotFoundException` during startup after installing uSync on a (pretty much) clean Umbraco 10.0.0-rc2 installation. Which is weird because the directory mentioned in the error message does exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and build Umbraco 10.0.0-rc2
2. Install uSync using the following CLI command `dotnet add package

[2022-05-21 14:35] creativesuspects commented on #391
Never mind. After deleting the .vs folder and cleaning and rebuilding the solution using Visual Studio the problem on my local IIS was somehow resolved.

[2022-05-24 14:54] creativesuspects commented on #391
Hmm, I keep bumping into this issue when using local IIS. Even on a freshly installed laptop. Deleting the .vs folder or cleaning/rebuilding the solution doesn't resolve the issue this time around. Any idea what might be causing this issue?

[2022-05-24 15:07] creativesuspects commented on #391
I granted Read permissions to IIS_IUSRS for the `C:\Users\<username>\.nuget` folder which seems to have fixed the issue.

[2022-06-02 14:42] YabberWalkie opened #392 "dictionary labels whitespace"
I'm working on a website with alot of labels, as we have 3 environments we use uSync's dictionary items to import/export them.
I'm running into a issue where some labels only contain a whitespace, " "

Exporting & then trying to import these labels will import them as empty and not a whitespace. When import it will also override any label that did have the correct whitespace value.

As these label

[2022-06-18 15:46] mbogunovic commented on #340
@Scherling Same issue here, version 9.2.0 of uSync, umbraco.Cms 9.3.1

The solution that currently works in my case is using import option few times until my pages move to the correct structure. Keys are fine, whole configuration is fine.

But it is annoying to use import few times until everything sorts out. Not sure what could be the issue for this.

[2022-06-20 17:18] KevinJump opened #394 "Feature: Strict mode."
Add ability for uSync to fail if things can't be set.

At the moment uSync is doing its best, and setting everything it can. this means if a content item is missing a property or a datatype property can't be created then uSync will carry on and try to set at much as possible.

strict mode will mean that if something is missing then the item will not be imported and the import of that item will fai

[2022-06-20 17:19] KevinJump commented on #394
FailOnWarning :

[code]

[2022-06-23 10:43] jemayn opened #397 "uSync subfolder still called v9 on the v10 version"
Hey Kevin,

Playing around with a new project on Umbraco 10 and uSync v10 - I noticed that the folder within the uSync folder is still called v9:
![image](https://user-images.githubusercontent.com/79840720/175280957-a5e73c40-bb44-4862-85be-6fd2d5ce1fab.png)

This was on a fresh install and boot of uSync for the first time 🙂

PS. The readme file on the v10/dev branch also says v9 here: https://gith

[2022-06-23 10:57] KevinJump commented on #397
yeah - we have decided to keep it v9 (for now)  - Not sure if we should have, but there are no changes in file format between v9 and v10 , so we where going for seemless.

but to be honest i am wondering now. - We might have to see if there is a way if we can tell the diffrence between upgraded and fresh installs.

[2022-06-23 11:03] jemayn commented on #397
Oh ok, just seemed a bit weird 😁

Maybe if no migration records exist in the keyValue table? (Guessing you have some startup migrations)

Anyways just wanted to let you know, I will close this issue again then.

[2022-06-23 11:03] #397 closed, assigned to nobody

[2022-06-27 11:29] sussexrick opened #398 "v10: Method not found error"
**Describe the bug**
Following an upgrade to Umbraco 10 (from 9.5.0) and uSync 10 (from 9.3.2), when I go to Settings > uSync > Clean Export I see an error "Method not found: Umbraco.Cms.Core.Models.ContentScheduleCollection Umbraco.Cms.Core.Models.IContent.get_ContentSchedule();"

This appears to relate to syncing to disk as the Content folder is not written.

Deleting the /bin and /obj folders t

[2022-06-27 11:40] sussexrick commented on #398
Closing. The upgrade had somehow reverted and I was actually running uSync 9.3.2.

[2022-06-27 11:40] #398 closed, assigned to nobody

[2022-07-05 09:56] Attackmonkey opened #399 "Issue syncing with compositions"
**Describe the bug**
When the FIRST property on a panel is a composition, the properties underneath are moved onto a separate panel of the same name on import using 8.10.5. Haven't tried this on a site with tabs, as I don't currently maintain any sites that are using it!

**To Reproduce**
Create a composition property, e.g. "Heading". and add it to a pane on your DocType, e.g. in the "Content" pan

[2022-07-05 11:44] KevinJump commented on #399
Hi,

I think you might need to upgrade uSync.

release [8.10.6 has a fix in for tabs groups and ordering,](https://github.com/KevinJump/uSync/releases/tag/v8.10.6) so that might well fix this,

i would go to the latest [v8.11.0](https://github.com/KevinJump/uSync/releases/tag/v8.11.0) as a matter of course because that has all the fixes we know about in it. (and is also the version we will support

[2022-07-05 12:27] Attackmonkey commented on #399
Have upgraded to the latest version, and the issue still seems to be present. Re-exporting everything and the re-syncing resulted in the duplicate panels again I'm afraid!

[2022-07-05 12:28] KevinJump commented on #399
Ok, I'll take a look based on your steps above.

[2022-07-05 12:29] Attackmonkey commented on #399
Let me know if you need any additional info!

[2022-07-05 12:45] Attackmonkey commented on #399
Actually, I deleted all the uSync files on the target server and THEN re-ran uSync and it seems to be OK now.

[2022-07-05 13:07] steadygo opened #400 "Issue with MultiUrlPicker and uSync"
**Description**

A documentType comprises a Multi URL Picker - when the content is synced the template fails to render with error:

Error Rendering Module "System.NullReferenceException: Object reference not set to an instance of an object. at Umbraco.Cms.Core.PropertyEditors.ValueConverters.MultiUrlPickerValueConverter.ConvertIntermediateToObject(IPublishedElement owner, IPublishedPropertyType pr

[2022-07-05 14:13] KevinJump commented on #400
Hi,

I am struggling to reproduce this one locally.

Just to confirm i have done the following:
1. Two Sites (Umbraco 9.3.1 / uSync,Complete 9.4.0)
2. Create a new Doctype,  with a MultiURL Picker setup
(I have used the default setup)
![image](https://user-images.githubusercontent.com/431231/177347309-38eda34e-7d5e-40a9-be9a-dde3fc2afb24.png)

3. on the doctype
![image](https://user-images.githubu

[2022-07-05 14:18] KevinJump commented on #399
👍

[2022-07-05 14:18] #399 closed, assigned to nobody

[2022-07-05 14:33] steadygo commented on #400
Hi Kevin

Thanks for the amazingly quick response.

Looking at my doc type it actually stems from a nested content item – sorry – it’s a bit more sophisticated than initially described.

It consistently fails to sync.

We have a Tab Content Module

![1](https://user-images.githubusercontent.com/4246468/177367281-05b0a5eb-4a48-47a3-8464-eacedfb309db.png)

That comprises a nested content property of

[2022-07-05 15:42] KevinJump commented on #400
Hi,

I think github's email filter stripped out most of the code :( - can you update it on the issue and i will take a look

[2022-07-05 15:51] steadygo commented on #400
Hi Kevin

I have edited and attached the relevant screens above.

[2022-07-05 21:05] KevinJump commented on #400
Hi,

I think we have found the culprit from a uSync point of view, we don't set multi-url picker values to null but rather blank, when inside nested content or blocks. this is an issue when the Multi-Url picker is set to a max of one item and nothing is picked.

this is something we can put a fix in for - we just need to do some testing

it does also look like the internal error is fixed in umbrac

[2022-07-06 08:36] steadygo commented on #400
Hi Kevin

OK. Good to know – I’ll update Umbraco when I can and await a Usync update.

Really appreciate your input.

Many Thanks

Jo

From: Kevin Jump ***@***.***>
Sent: 05 July 2022 22:06
To: KevinJump/uSync ***@***.***>
Cc: Jo Kendal ***@***.***>; Author ***@***.***>
Subject: Re: [KevinJump/uSync] Issue with MultiUrlPicker and uSync (Issue #400)

Hi,

I think we have found the culprit from a uS

[2022-07-06 09:10] KevinJump commented on #400
## For our own records.

This issue is fixed in multiple versions of Umbraco -

- [x] Fix in v8.18.0 - (https://github.com/umbraco/Umbraco-CMS/commit/e8c18cda56b2b8a15692ff718af7b1edc94e87af)
- [x] Fix in v9.5 (https://github.com/umbraco/Umbraco-CMS/pull/12109)
- [x] v10 not effected

As there is fix in all the current versions of Umbraco we will release the uSync 'fix' as part of a regular patch

[2022-07-07 17:19] KevinJump opened #402 "Feature : JSON Serialization clean up"
At the moment the way the versious bits of JSON for diffrent properties is serialized and deserialized isn't consistant. Mainly because as these things have been added to Umbraco they haven't been consistant in their behavior.

e.g nested content until very recently required that nested json be escaped into a string before it was put into an object.

With the tidy up of all of this in Umbraco v10,

[2022-07-11 12:15] TimBoonstra commented on #391
Running into the exact same issue with Umbraco 10.0.1 and uSync 10.0.0 running on Local IIS

[2022-07-11 12:19] KevinJump commented on #391
If you run Umbraco with local IIS but not published (so pointing IIS at the your code folder) then you will need to give the account that the IIS site is running on access to the nuget cache folder. (which is typically `c:\users\username\.nuget\packages`) this is because this is where the files are being served from during development.

if the site is published to IIS then the files end up in `www

[2022-07-11 12:35] creativesuspects commented on #391
@KevinJump @TimBoonstra Yes, granting Read permissions to IIS_IUSRS for `c:\users\<username>\.nuget\packages` fixed the issue for me.

[2022-07-11 14:12] creativesuspects commented on #391
I've created a PR to add these instructions to the Umbraco documentation:
https://github.com/umbraco/UmbracoDocs/pull/4205

[2022-07-13 13:19] #402 closed, assigned to KevinJump

[2022-07-13 13:20] #394 closed, assigned to KevinJump

[2022-07-13 14:19] AndyBoot opened #405 "v8 - Not initialising all handlers"
Hey,

We've inherited a Umbraco v8.13 site with uSync v8.9.1.0 which is having an issue initialising all the handlers and has become a little bit of a blocker for deployments to other environments.

So for context, I have enabled all the handlers as per the below uSync.config file:
[code]

However all I'm ever able to see are these:
![image](https://user-images.githubusercontent.com/82056925/17875

[2022-07-13 14:29] KevinJump commented on #405
I think you probably don't have uSync.ContentEdition installed ? In v8 uSync and uSync.ContentEdition are separate packages (in v9+ its all one package) if you want sync the content (and macros, dictionary) then you need uSync.ContentEdition package too.

[2022-07-13 16:07] AndyBoot commented on #405
Why is it always the simplest things 😅

Sorry for logging this as a bug, as I know uSync works out of the box perfectly well, but couldn't for the life of me determine what was causing it. Your reply was one of those lightbulb moments. And you know, I've only had to install ContentEdition once in my life (maybe 2 years ago) and that was for a VS template to build future v8 sites on top of and it's

[2022-07-13 16:07] #405 closed, assigned to nobody

[2022-07-15 16:14] KevinJump opened #406 "Tab sort order not enough to ensure tabs are always in order"
When we serialize out the tabs of a content type (mediaType, memberType) the tabs are output in sort order. this isn't always enough to ensure that the tabs will be put out in the same order by umbraco.

If someone has a tab and group with the same sort order (e.g 0) then the sort will be inconsistant. you see "xml is diffrent - but no properties have changed message) and the diff will show the op

[2022-07-15 16:15] #406 closed, assigned to nobody

[2022-07-24 19:22] JoseMarcenaro opened #407 "Parent-child Document Type relationships broken on Import"
**Describe the bug**
On a clean Umbraco v8.18.4 install with uSync v8.11.1, exporting and then reimporting a child document type brokens the relationship: child type is imported outside the parent type - at the same level.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a clean Umbraco v8.18.4 website, add uSync v8.11.1 with the default configuration
2. Create a "BaseDocType" at the r

[2022-07-24 19:31] JoseMarcenaro commented on #407
Notes:
* I'm almost sure this didn't happen in Umbraco v8.17 with uSync 8.10.4 - it started breaking after the upgrade to Umbraco v8.18 and uSync v8.11
* The problem does not seem to happen in Umbraco v9/v10 with uSync 9.x

[2022-08-04 10:42] KevinJump opened #409 "Feature: Ability to disable the core dashboard in uSync"
Sometimes (esp when you have complete installed) you might want to disable the default uSync dashboard so no one presses the wrong buttons. this option allows you to do that:

In you `appsettings.json` file :

[code]

the next dashboard in the sequence will become the one people can see (e.g exporter is uSync.Complete is installed)

![image](https://user-images.githubusercontent.com/431231/1828281

[2022-08-04 10:42] #409 closed, assigned to nobody

[2022-08-04 10:42] KevinJump commented on #409
in 10.1

[2022-08-17 17:56] anil60265 opened #412 "Usync Import Users not importing user group permissions but able to export"
Hi,
In Umbraco 9 and 10, when click on Import/Full Import, under Users section in USync, the permissions set for user group are not getting imported.
But clicking on Export button is exporting properly.
Could you please check into it.

[2022-08-18 09:10] KevinJump commented on #407
Thansk, will be in next v8.x release.

[2022-08-18 09:10] #407 closed, assigned to nobody

[2022-08-18 09:11] KevinJump commented on #400
Tidy up - this is fixed in all supported releases.

[2022-08-18 09:11] #400 closed, assigned to KevinJump

[2022-08-18 10:29] KevinJump commented on #412
Hi,

Yeah taken a look and & we've seen the bit we have missed, it will be in the next update.

K

[2022-08-18 11:14] anil60265 commented on #412
Thank you for looking it. Waiting for the update!!

[2022-08-25 14:17] dan-hammond opened #413 "uSync 10 converting JSON numbers and booleans to strings on export"
**Describe the bug**
uSync 10 is not exporting JSON content properties correctly. It seems that bools and numbers are being converted to strings, which is then causing problems when re-imported.

**To Reproduce**
I made a minimal test project here:
https://github.com/dan-hammond/usync-10-export-bug-repro

1. Install Umbraco and log in
2. Create a document type which uses the "TestPropertyEditor"
3

[2022-08-25 14:52] KevinJump commented on #413
Yeah - looks like we did that when we where fixing how nested json inside block elements, work.

[2022-08-25 14:52] #413 closed, assigned to nobody

[2022-08-25 14:54] KevinJump commented on #413
Will be in 10.2.x (to coincide with Umbraco 10.2)

EDIT: Updated release link (to the right one!)

nightly build available :https://dev.azure.com/jumoo/Public/_artifacts/feed/nightly/NuGet/uSync/overview/10.2.0-build.20220825.1

[2022-08-25 14:55] dan-hammond commented on #413
You're a star, thank you so much.

[2022-08-29 18:51] crankedapps opened #414 "Import Content data binding error"
**Describe the bug**
When I do a Full Import of Content, I am presented with a bunch of failed data bindings on the page.  So you will see a page full of {{result.name}} and so on.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to uSync settings dashboard in Backoffice
2. Click on Full Import of Settings (success)
3. Click on Full Import of Content (successfully imported, but data bindin

[2022-08-30 08:07] KevinJump commented on #414
Hi,

If you have upgraded a site from Umbraco 9/ uSync 9 can you confirm that all the files in the app_plugins/uSync folder have been removed ?

I think this is is the effect you get when there are files in app_plugins/uSync from the older version

[2022-08-30 12:32] crankedapps commented on #414
Yes, this fixed my issue.  Thank you for the prompt reply! ♥

[2022-08-30 12:32] #414 closed, assigned to nobody

[2022-08-30 13:35] KevinJump commented on #414
And we've added in some build actions so for future versions we will just silently try and delete the folder.
https://github.com/KevinJump/uSync/commit/eb107761a86e283df42b5e299e2ff7d4ab74e637

[2022-09-02 09:32] Sven883 commented on #340
@mbogunovic +1 we're having the same issue!
Also using the import option a few times until the pages move to the correct structure.

[2022-09-13 21:05] tormnator opened #416 "DocTypeGridMapper export fails with NullReferenceException"
**Describe the bug**
Export of content with a DocTypeGridEditor (DTGE) fails if the DTGE contains an image (Umbraco.MediaPicker) and the image has not been set. This bug probably started showing up after a [recent change](https://github.com/KevinJump/uSync/commit/382e96e5dc7fc9094cf8482c3f390e22c934b7e3#diff-2f2632eb9da6f1014826a87be8bbfd2f627a4b2da31a97bba5dcddcda211cb2e) in UdiPickerMapper where

[2022-09-14 01:33] tormnator commented on #416
I created a fork of uSync and removed the ".ToString() part on line 101 of GetExportJsonValues() since the GetExportValue() method already returned a string. This way a null return value no longer causes a NullReferenceException. I then copied the recompiled uSync.Community.Contrib dll into my Umbraco site's bin folder, ran the site, and successfully exported all the content.

Question, are there

[2022-09-15 10:10] KevinJump commented on #416
Hi,

I think these might need a bit of a tidy - as we removed some of the site/build in stuff when it went to v10

For testing i have an Umbraco site in the solution (it's not in source control, maybe it should be) that references the uSync projects:

[code]

Then when you build this, all the files ect are automatically included in the site so you can run it while you develop

you can also build t

[2022-09-16 11:24] KevinJump opened #417 "No logging or warnings if content type property import fails because of invalid tab alias data."
uSync 10.2+

If you attempt to import a property on a content type that has incorrect tab alias information (e.g a tab alias that doesn't exist) then for new properties, you will get no warning or information that this has failed.

e.g. if your property is missing the tab alias.

[code]

when it should be

[code]

then the import will silently fail for this property - when in reality we have faile

[2022-09-16 11:25] #417 closed, assigned to nobody

[2022-09-16 11:25] KevinJump commented on #417
Fixed for next release (10.2.1 or 10.3.0)

[2022-09-19 21:05] crankedapps commented on #412
Any update on this?

[2022-09-19 21:06] crankedapps commented on #412
Any update on this?

[2022-09-26 12:50] KevinJump commented on #417
In 10.2.1

[2022-09-27 08:07] KevinJump opened #419 "Add ability to ignore content by doctypeAlias."
At the moment you can ignore content by path and alias - but the alias is that of the content.

it would be good if the content could also be ignored by doctype e.g

[code]

As with other include/exclude behaviours, if you set include you only get the selected values, (so a default is all), and exclude will run after include.

"RulesOnExport" has to be set if you want them to also run on export.

[2022-09-27 08:27] KevinJump commented on #419
Done - will be in next release (e.g. 10.3 / 11.0)

[2022-09-27 08:27] #419 closed, assigned to KevinJump

[2022-10-10 11:43] MahmoudAbdelsallam opened #422 "Contnet Type Allowed Templates that is not registed on uSync got removed"
**Describe the bug**
We have a deployed umbraco instance where customers can add custom templates and link them with Document Types. In that case this change is not committed to our repository. In our next deployment this link got removed as it is not registered in uSync.

**To Reproduce**
Steps to reproduce the behavior:
1 - Go to document type
2- Link extra template
3- Then trigger another deplo

[2022-10-13 10:55] KevinJump opened #423 "v8: Content handlers shown in drop down even if not content handlers are enabled"
If you disable all the "content" handlers but move one into the "settings" group

[code]

the Import content/media item is shown in the dropdown

![RWLDiEZR](https://user-images.githubusercontent.com/431231/195578437-e7522b50-ff05-4667-a290-a82374ae61bb.png)

This is because the handler factory isn't correctly listing the settings group value for a handler that is moved and telling the UI that the

[2022-10-13 10:56] KevinJump commented on #423
Will be in next v8 release

[2022-10-13 10:56] #423 closed, assigned to KevinJump

[2022-10-20 10:49] KevinJump commented on #422
Hi,

Unfortunately, this **is** the expected behaviour - uSync will sync things exactly like they appear the aim is to have both sites be identical in every way.

However we are always option to adding options to change behaviour, we could for example have a 'KeepTemplates* option that would not remove them - but this would be an enhancement not a bug fix

[2022-10-20 10:50] KevinJump commented on #416
Hi for refence this issue is fixed in 10.3 (https://github.com/KevinJump/uSync/releases/tag/v10.3.0)

[2022-10-20 10:50] #416 closed, assigned to nobody

[2022-10-20 10:50] KevinJump commented on #419
released in 10.3 https://github.com/KevinJump/uSync/releases/tag/v10.3.0

[2022-10-20 16:52] MahmoudAbdelsallam commented on #422
Thanks @KevinJump, For now I have created a custom ContentTypeHandler & Serializer and added
**AddClientCustomTemplatesTouSyncAllowedTemplates** to serializer
[code]
[code]

[2022-10-24 19:46] JoseMarcenaro commented on #407
Hi @KevinJump .  Any chance we can get a new release for v8, so we can get this patch on the official Nuget channel?

Thanks for your continuous support to this amazing plugin.

[2022-10-25 11:15] KevinJump commented on #407
Yes - 8.11.2 is out - has this (and one other really minor ui fix) in it.

[2022-10-27 07:31] KevinJump opened #424 "Content template changes not saved to disk until you do an export"
## Version :
  uSync v10.
## Issue:

When you save a Content template, the change isn't immediately written to disk - items are written to disk when you export, but not on save.

## Reason

Due to the blueprint events in umbraco being slightly different from 'normal' items - these events where not initially tracked in uSync 9+ - But since we have rationalized things in v10 we can actually have the

[2022-10-27 07:33] KevinJump commented on #424
Fixed for next release -

In Preview build : https://dev.azure.com/jumoo/Public/_artifacts/feed/nightly/NuGet/uSync/overview/10.3.1-build.20221027.1

[2022-10-27 07:33] #424 closed, assigned to nobody

[2022-10-28 09:50] KevinJump opened #426 "Create summary dashboard when results set is large."
When you import/report on a lot of content the retrurned results object from usync is very large and it can either bring your browser to its needs or hit the response limits from asp.net .

We should have settings, so we only return summary information for large sync sets.

[2022-10-28 09:55] KevinJump commented on #426
Will be in next release,

![image](https://user-images.githubusercontent.com/431231/198559932-5b6c7f98-a063-452e-986b-0d2eb89a5eb3.png)

Adds two settings to the config 👍

[code]

- By default the summary dashboard will be off, but if any one handler returns more than 1000 results it will kick in.
- it will return a summary of the import and when summary dashboard is false, it will return any fail

[2022-10-29 00:35] mikecp opened #427 "Add French translations"
Referring to #161 - I will be adding the French translations

[2022-11-14 20:17] KevinJump opened #436 "Import fails on config files of True/False values pre Umbraco v8.8.0"
From : https://our.umbraco.com/packages/developer-tools/usync/usync/110465-import-fail-could-not-convert-string-to-boolean-0-path-default-line-2-pos

if you import a true/false value that was generated pre Umbraco 8.8.0 onto a site running Umbraco 8.8+ it fails:

[code]

this is because of breaking change [#8477]( https://github.com/umbraco/Umbraco-CMS/pull/8477/files#diff-4727f0190ab75c80126d93c7

[2022-11-18 15:33] sussexrick opened #442 "JSON serialisation for block list content"
Issue #402 has been really helpful when reviewing code changes as JSON changes are now highlighted clearly by git.

However, the JSON value of a property using the Block List editor is still one long single line where it's difficult to spot the changes that have been made. Applying the same JSON serialisation changes to Block List editor values would be very helpful.

[2022-11-19 09:45] KevinJump opened #443 "v11: Add 'Back' the Apply button."
Hidden in the code there is an 'Apply' button that allows you to import individual items into uSync from a report.

its hidden/off because actually it can be quite dangerous if you import something without its dependencies (e.g. a doctype before the data types, then things might not work.

but we could add it in and have some warnings around things because well that might help a ~@marcemarc~ a few

[2022-11-19 09:51] KevinJump opened #444 "v11: Pre reporting."
When you go the uSync page, really it would be quite nice if it could tell you if things where already in sync without you having to run a report everytime.

Not sure best way to do this (it might be to just auto run the report when the dashboard is opened).

but we could display the status beneath each 'group' and make the reporting appear near instant because we had ran them, in the background.

[2022-11-19 09:53] KevinJump opened #445 "v11: Playwright validation"
More of an invesitgation than a feature - but working out if there is a nice way to run some things like playwright test as part of a sync (there is you can use the notifications). and then show them as part of the results (that is where the work would be required).

[2022-11-20 10:40] marcemarc commented on #444
or showing a 'Last Synced' date might also help with confidence/knowledge of the current sync status

[2022-11-20 10:42] marcemarc commented on #443
would it be a configurable unhidden feature by convention - if you create an advanceduSyncSuperUserAdmin User Group, would members of that see the option - so out of the box it's not there, but could be a more 'per user' thing

[2022-11-30 14:37] KevinJump opened #450 "Saving an Angular Expression in a text box wraps the value in quotes"
uSync v10.1+

When you save an angular expression in a textbox - it gets wrapped in quotes

e.g :
`{{my-page-title}}`

becomes
`"{{my-page-title}}"`

uSync thinks its json (because the json check in umbraco detects the opening and closing `{` `}` and thinks its JSON.

Fix is to not treat {{somethings}} as json

[2022-11-30 14:43] KevinJump commented on #450
- PR #451 Fixes this for uSync 11
- Commit 19a18144878b00430e0442e18f9a43c161fc34cc fixes this for v10.x

[2022-11-30 14:48] KevinJump commented on #450
v10 Nightly with fix :
https://dev.azure.com/jumoo/Public/_artifacts/feed/nightly/NuGet/uSync/overview/10.3.1-build.20221130.1

v11 (release tommorow) will also contain the fix.